{% extends "base.html" %}

{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
The registration form. This will be an instance of some subclass
of ``django.forms.Form``; consult `Django's forms documentation
<http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
information on how to display this in a template.
{% endcomment %}

{% block content %}


<div class="outer-floating-box">
<div class="inner-floating-box">


<form class="well" method="post" action="">
	
    {% csrf_token %}
	<div style="text-align: center; font-size: 18px; margin-bottom: 10px"><b>Create New Account</b></div>
    <table>
        {{ form.as_table }}
    </table>
	<div align="center">
    <button class="btn btn-primary" type="submit">Submit</button>
	</div>
</form>
</div>
</div>
{% endblock %}
