{% extends "base.html" %}

{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
The registration form. This will be an instance of some subclass
of ``django.forms.Form``; consult `Django's forms documentation
<http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
information on how to display this in a template.
{% endcomment %}

{% block content %}


<div class="outer-floating-box-reg">
<div class="inner-floating-box">


<form class="well form-horizontal" method="post" action="">
	
    {% csrf_token %}
	<div style="text-align: center; font-size: 18px; margin-bottom: 10px"><b>Create New Account</b></div>		
		<fieldset>
			<div class="control-group">
				{% for field in form %}
					<div class="fieldWrapper" style="margin-top: 10px">
	                     <label class="control-label">{{ field.label }}:</label>
	                     <div class="controls">{{ field }}</div>
						 <div style="margin-left: 135px;"><b><font color="#bd362f">{{ field.errors }}</font></b></div>
	                </div>
	            {% endfor %}
				
			</div>
		</fieldset>
		<b><font color="#bd362f">{{ form.non_field_errors }}</font></b>
	<div align="center">
    <button class="btn btn-primary" type="submit">Submit</button>
	</div>
    <div style="text-align: right">
	    <a href="/accounts/login">Login</a>
    </div>
	
</form>
</div>
</div>
{% endblock %}
