{% extends "base.html" %}

{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}

{% block content %}
<div class="outer-floating-box-reg">
<div class="inner-floating-box">
<div class="well">
<div style="text-align: center; font-size: 18px; margin-bottom: 10px"><b>Account Activation</b></div>
An account activation email has been sent to you. Please check your email and follow the instructions.
</div>
</div>
</div>
{% endblock %}
