{% load planner_extras %}

<!DOCTYPE html>
<html>

<head>
    <title>PlanIt</title>
    
    
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.20.custom.min.js"></script>
    <!-- <script type="text/javascript" src="jquery-ui/development-bundle/ui/jquery.ui.droppable.js"></script> -->
    
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fullcalendar/fullcalendar/fullcalendar.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css"/>
    
    
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}clickoutside/clickoutside.js"></script>
    
    
    <!-- <script type="text/javascript" src="{{ STATIC_URL }}jquery-week-calendar/jquery.weekcalendar.js"></script> -->
    
    <script type="text/javascript" src="{{ STATIC_URL }}fullcalendar/fullcalendar/fullcalendar.js"></script>
    
        
    
    <script type="text/javascript">
            
        var FADING_ALERT_TIME = 2000;
        var fading_alert_timeout;
        
        var classesJSON = null;
        var offeringsJSON = null;
            
        function draw() {
            
			{% for year in years %}
			{% for term in year.terms %}
			{% for course in term.courses%}
			$('#{{ term.condensedName|add:course.condensedID }}').popover({'title': '{{ course.identifier }}', 'content': '{{ course.name }}', 'placement': 'right'});
			{% endfor %}
			{% endfor %}
			{% endfor %}
			

            // Static
            $('.icon-move').tooltip({'title': 'Move Course', 'placement': 'top'});
            $('.icon-trash').tooltip({'title': 'Delete Course', 'placement': 'top'});
            $('.icon-calendar').tooltip({'title': 'View Schedule', 'placement': 'right'});
            $('.icon-info-sign').tooltip({'title': 'Unit Count', 'placement': 'bottom'});
            
            
            $('.dropdown-toggle').dropdown();
            
        }
        
        // {'id': {{ forloop.parentloop.counter }}, 'start': Math.ceil(.getTime())/1000, 'end': Math.ceil(new Date(2011, 4, {{ day }}, {{ course.endTime.hour }}, {{ course.endTime.minute }}).getTime()/1000), 'title': '{{ course.identifier }}' },
        
           
        var scheduleArray = {};
        {% for year in years %}
        {% for term in year.terms %}
                scheduleArray['{{ term.condensedName }}'] = [

                 {% for course in term.courses %}
                     {% for day in course.days %}
                        {
                            'start': new Date(2012, 3, {{ day }}, {{ course.start_time.hour }}, {{ course.start_time.minute }}), 
                            'end': new Date(2012, 3, {{ day }}, {{ course.end_time.hour }}, {{ course.end_time.minute }}), 
                            'title': '{{ course.identifier }}',
                            'allDay': false 
                        },
                     {% endfor %}
                 {% endfor %}
                            
                ];
        
        {% endfor %}
        {% endfor %}
        
                
        $(document).ready(function () {
            
            draw();
            
            // $('a[data-toggle="tab"]').on('shown', function (e) {
            //     var target = String(e.target).substring(String(e.target).length - 1);
            //                     
            // });
            
            $('#class-search').typeahead({'items': 4,
                'source': ['CS106A', 'CS106B', 'CS107', 'CS108', 'CS109', 'Econ1A', 'Econ1B', 'Chem31A', 
                           'Chem31B', 'Physics41'],
                });
            
            
            
            $('#add-course-alert').hide();
            
            $('#remove-course-alert').hide();
            
            // Reference: http://blog.petersendidit.com/post/drag-table-row-to-a-div-with-jquery/
            $('.course').draggable({handle: '.icon-move', revert: 'invalid',
                                    
                helper: function (event) {
                    // var courseName = event.currentTarget.firstElementChild.firstElementChild.children[0].innerHTML;
                    //                     var numUnits = event.currentTarget.firstElementChild.firstElementChild.children[1].innerHTML;
                    //                     return $('<table class="table table-bordered" style="width: 400px;"><tr><td class="course">' + 
                    //                         courseName + '</td><td style="units">' + numUnits + 
                    //                         '</td><td class="info"><center><i class="icon-move"></i>&nbsp;&nbsp;<i class="icon-trash"></i></center></td></tr></table>').appendTo('body');
                
                    var copy = $(event.currentTarget).clone();
                    copy.find('.icon-trash').unbind('onclick');
                    return copy.appendTo('body');
                
                },
                     
            });
			
			acceptedDragsForTerms = new Array();
			
			{% for year in years %}
			{% for term in year.terms %}
				acceptedDragsForTerms['{{ term.condensedName }}'] = new Array();
				{% for y in years %}
				{% for t in y.terms %}
					{% if y != year or t != term %}
						{% for course in t.courses %}
						{% for offering in offerings|get_item:course.identifier %}
							{% if offering.year.start_num == year.start_num and offering.term.num == term.num %}
								acceptedDragsForTerms['{{ term.condensedName }}'].push('{{ t.condensedName|add:course.condensedID }}');
							{% endif %}
						{% endfor %}
						{% endfor %}
					{% endif %}
				{% endfor %}
				{% endfor %}
			
			$('#{{ term.condensedName }}').droppable({
				
				accept: function (elem) {
					if ($.inArray(elem.attr('id'), acceptedDragsForTerms['{{ term.condensedName }}']) != -1) return true;
					return false;
				},
				
				
				drop: function (event, ui) {
					ui.draggable.appendTo('#{{ term.condensedName }}');
					ui.draggable.attr('id', '{{ term.condensedName }}' + ui.draggable.find('.courseName').html());
				}
			});
			{% endfor %}
			{% endfor %}
			
			// example turning red
            $('#Spring2012-2013').droppable({
                
                over: function (event, ui) {
                    $(this).css('backgroundColor', 'red');
                },
                
                out: function (event, ui) {
                    $(this).css('backgroundColor', '#eeeeee');   
                },
                
                deactivate: function (event, ui) {
                    $(this).css('backgroundColor', '#eeeeee');   
                }
                
            }); 

            // $('#new-plan-modal').modal({'show': false});
            
            $('#new-plan-modal').modal({'show': false});
            $('#account-settings-modal').modal({'show': false});
            $('#schedule-modal').modal({'show': false});
            
            
                    //             var classes = {
                    //                 events: [
                    // {% for course in years.0.terms.0.courses %}
                    //  {% for day in course.days %}
                    //      {'id': {{ forloop.parentloop.counter }}, 'start': new Date(2011, 4, {{ day }}, {{ course.start_time.hour }}, {{ course.start_time.minute }}), 'end': new Date(2011, 4, {{ day }}, {{ course.endTime.hour }}, {{ course.endTime.minute }}), 'title': '{{ course.identifier }}' },
                    //  {% endfor %}
                    // {% endfor %}
                    //                     
                    //                 ]
                    //             };
			
            
            $('#schedule-modal-calendar').fullCalendar({ 
                firstDay: 1,
                weekends: false,
                header: false,
                defaultView: 'agendaWeek',
                minTime: '8:00',
                maxTime: '18:00',
                slotMinutes: 30,
                allDaySlot: false,
                columnFormat: {week: 'dddd'},
            });
            
            $('#schedule-modal-calendar').fullCalendar('gotoDate', 2012, 3, 23);
            
            $('#schedule-modal').on('shown', function () {
                $('#schedule-modal-calendar').fullCalendar('removeEvents');
                $('#schedule-modal-calendar').fullCalendar('addEventSource', scheduleArray[quarterScheduleToShow]);
            });
            
            $('#schedule-modal').on('hide', function () {
                $('#schedule-modal-calendar').fullCalendar('removeEvents');
            });
            
            
            // $('#course-search').typeahead({
            //                 source: function (typeahead, query) {
            //                     $.ajax({
            //                         url: '/search/' + query,
            //                         success: function (data, textStatus, jqXHR) {
            //                             searchJSON = eval(data.classes);
            //                             typeahead.process(data.classNames);
            //                         }
            //                     });   
            //                  },
            //                  
            //                  property: '',
            //                  
            //                  onselect: function (obj) {
            //                      for (var i in searchJSON) {
            //                          if (searchJSON[i].fields.identifier == obj) {
            //                              createSearchResults([ searchJSON[i] ]);
            //                              return;
            //                          }
            //                      }
            //                  }
            //             
            //             
            //             });
        
        });
        
        
        function removeCourse(courseID) {
            var courseElem = $('#' + courseID);
            var courseName = courseElem.find('.courseName').html();
            
            courseElem.find('.icon-trash').tooltip('hide');
            courseElem.popover('hide');
            
            var qDiv = courseElem.parent();
            var cover = qDiv.find('.cover');
            var alertBox = qDiv.find('.delete-alert');
            
            alertBox.find('.alert-heading').html('Delete ' + courseName + '?');
            alertBox.find('.alert-body').html('Are you sure you want to delete ' + courseName + '?');
            alertBox.find('.alert-delete-course-id').html(courseElem.attr('id'));
            alertBox.find('.alert-delete-course-name').html(courseName);
                        
            alertBox.css('left', qDiv.position().left);
            alertBox.css('top', qDiv.position().top + 15);
            cover.css('left', qDiv.position().left);
            cover.css('top', qDiv.position().top);
                        
            qDiv.find('.cover').fadeIn();
            
            updateAddedUnits(qDiv.attr('id'), courseElem.find('.units').html(), false, true);
            
            alertBox.fadeIn();
        }
        
        
        function cancelDeleteCourse(quarterID) {
            var qDiv = $('#' + quarterID);
            
            qDiv.find('.delete-alert').hide();
            qDiv.find('.cover').hide();
            
            resetAddedUnits(quarterID);
        }
        
        function updateQuarterUnits(quarterID, unitChange) {
            
            $('#' + quarterID + '-units').html(parseInt($('#' + quarterID + '-units').html()) + unitChange);        
            $('#total-units').html(parseInt($('#total-units').html()) + unitChange);
        }

        
        function removeClassFromSchedule(course, quarterID) {            
            var curSchedule = scheduleArray[quarterID];
            var numToRemove = 0;
            var posToRemove = -1;
            
            for (var i in curSchedule) {
                if (curSchedule[i].title == course) {
                    if (posToRemove == -1) {
                        posToRemove = i;
                    }
                    numToRemove++;
                }
            }
            
            if (posToRemove != -1) {
                curSchedule.splice(posToRemove, numToRemove);
            }
                        
        }
        
        // function getCourseName(longName) {
        //     
        //     for (var i in termNames) {
        //         if (longName.indexOf(termNames[i]) != -1) {
        //             return longName.substring(termNames[i].length + 9);
        //         }
        //     }
        //     return false;
        //     
        // }
        
        
        function confirmDeleteCourse(quarterID) {
            var qDiv = $('#' + quarterID);
            var courseElem = $('#' + qDiv.find('.alert-delete-course-id').html());
            var numUnits = courseElem.find('.units').html();
            
            courseElem.remove();
            
            updateQuarterUnits(quarterID, parseInt("-" + numUnits));
            
            var course = qDiv.find('.alert-delete-course-name').html();
            removeClassFromSchedule(course, quarterID);
            
            resetAddedUnits(quarterID);
            
            cancelDeleteCourse(quarterID);
        }
        
        
        // Functions to add a course
        // function addCourse(courseName, courseId) {
        //             $('#add-course-alert').alert();
        //             $('#add-course-alert-head').html('Added ' + courseName);
        //             $('#add-course-alert').fadeIn(function () {
        //                 fading_alert_timeout = setTimeout("closeAddCourse()", FADING_ALERT_TIME);
        //             });
        //                         
        //             $('.icon-ok').tooltip('hide');
        //             
        //             $('#' + courseId).find('tr').removeClass('possible-course');
        //                         
        //             $($('#' + courseId).find('tr').children()[2]).html('<center><i class="icon-move"></i>&nbsp;&nbsp;<i class="icon-trash" onclick="removeCourse(\'Chem 31A\');"></i></center>');
        //         
        //             $('#' + courseId).draggable({handle: '.icon-move', revert: 'invalid',
        //                                     
        //                 helper: function (event) {
        //                     // var courseName = event.currentTarget.firstElementChild.firstElementChild.children[0].innerHTML;
        //                     //                     var numUnits = event.currentTarget.firstElementChild.firstElementChild.children[1].innerHTML;
        //                     //                     return $('<table class="table table-bordered" style="width: 400px;"><tr><td class="course">' + 
        //                     //                         courseName + '</td><td style="units">' + numUnits + 
        //                     //                         '</td><td class="info"><center><i class="icon-move"></i>&nbsp;&nbsp;<i class="icon-trash"></i></center></td></tr></table>').appendTo('body');
        //                 
        //                     var copy = $(event.currentTarget).clone();
        //                     copy.find('i').unbind('onclick');
        //                     return copy.appendTo('body');
        //                 
        //                 },
        //                      
        //             });
        //             
        //         
        //             draw();
        //         
        //         }
        //         
        function closeAddCourse() {
            clearTimeout(fading_alert_timeout);
            $('#add-course-alert').fadeOut();
        }
        
        
        function openNewPlanModal() {
            
            $('#new-plan-modal').modal('show');
            
        }
        
        
        function validateNewPlan() {
                        
            var planName = $('#plan-name').attr('value');
            var major = $('#major').attr('value');
            
            var flag = 0;
            
            if (planName.length == 0) {
                $('#plan-name').parent().parent().addClass('error');
                $('#plan-name-help-block').show();
                flag = 1;
            } else {
                $('#plan-name').parent().parent().removeClass('error');
                $('#plan-name-help-block').hide();
                
            }
             
             
            if (major.length == 0) {
                $('#major').parent().parent().addClass('error');
                $('#major-help-block').show();
                flag = 1;
            } else {
                $('#major').parent().parent().removeClass('error');
                $('#major-help-block').hide();
                
            }   
           
            return (flag == 0 ? true : false);
            
        }
        
        
        
        function createNewPlan() {
            
            if (validateNewPlan() == false) {
                return;
            }
            
            $('#new-plan-modal').modal('hide');
            
            var planName = $('#plan-name').attr('value');
            var major = $('#major').attr('value');
            
            
            $('#plan-name').attr('value', '');
            $('#major').attr('value', '');
        }
        
        
        
        function openAccountSettingsModal() {
            $('#account-settings-modal').modal('show');
        }
        
        function saveAccountSettings() {
            var fullname = $('#account-settings-fullname').attr('value');
            if (fullname.length == 0) {
                fullname = $('#account-settings-fullname').attr('placeholder');
            }

            $('#account-settings-modal').modal('hide');
        }
        
        var termNames = ['Autumn', 'Winter', 'Spring', 'Summer'];
        
        function convertFromCondensedName(condensedName) {
            
            for (var i in termNames) {
                if (condensedName.indexOf(termNames[i]) != -1) {
                    return termNames[i] + ' ' + condensedName.substring(termNames[i].length);
                }
            }
            
            return false;
        }
        
        
        var quarterScheduleToShow = null;
        
        function openCalendar(quarterName, tt) {
            
            $(tt).tooltip('hide');
            $('#schedule-modal-title').html(convertFromCondensedName(quarterName) + ' Weekly Schedule');            
            
            quarterScheduleToShow = quarterName;
            $('#schedule-modal').modal('show');  
        }
        
        
        function getJSONForCourse(courseName) {
         
            for (var i in classesJSON) {
                 if (classesJSON[i].fields.identifier == courseName) {
                     return classesJSON[i];
                 }
             }
            
        }
        
        function makeCondensedName(longName) {
            return longName.replace(" ", "");
        }
        
        
        function makeAddedCourseHTML(quarterID, courseObj, isWarning) {
            
            var className = "possible-course";
            
            if (isWarning) {
                className = "possible-course-warning";
            }
                    
            return '<table id="' + quarterID + makeCondensedName(courseObj.identifier) + '"' + 
                'class="table table-bordered table-condensed course ' + className + '">' + 
                '<tr><td class="courseName">' + courseObj.identifier + '</td><td class="units">' + 
                courseObj.units + '</td><td class="info"><i class="icon-ok confirm-add-class"></i>' + 
                (isWarning ? '&nbsp;&nbsp;<i class="icon-warning-sign"></i>' : '')
                + '</td></tr></table>';
                            
        }
        
        function createRolloversForAddedCourse(quarterID, courseObj, isWarning, 
                warningArrayAll, warningArrayOffering) {
            
            $('.icon-ok').tooltip({'title': 'Add Course', 'placement': 'top'});
            
            if (isWarning) {
            
                var warningStr = "";
                
                for (var i in warningArrayAll) {
                    if (i == WARNING_ALL_DOUBLE_COURSE && warningArrayAll[i] != false) {
                           warningStr += "Course already in " + warningArrayAll[i] + "<br/>";
                    }
                }
                
                for (var j in warningArrayOffering) {
                    if (j == WARNING_OFFERING_TIME_CONFLICT && warningArrayOffering[j] != false) {
                           warningStr += "Course conflicts with " + warningArrayOffering[j] + "<br/>";
                    } 
                }
                        
                $('.icon-warning-sign').tooltip({'title': warningStr, 'placement': 'left'});
                
                
            }
            
            $('#' + quarterID + makeCondensedName(courseObj.identifier)).popover({
               title: courseObj.identifier,
               content: courseObj.name,
               placement: 'right'
            });
            
        }
        
        
        function confirmDates(quarterID, course) {
            
            var quarterArr = scheduleArray[quarterID];
            
            for (var i in quarterArr) {
                if (quarterArr[i].title == course) {
                    quarterArr[i].color = '';
                }
            }
            
        }
        
        function deleteAddedCourse(courseObj, offerings, quarterID) {
        
             for (var i in offerings) {

                    var offeringStr = termNames[parseInt(offerings[i].fields.term) - 1] + 
                        years[parseInt(offerings[i].fields.year) - 1];
                    
                    var tableElem = $('#' + offeringStr + makeCondensedName(courseObj.fields.identifier));
                        
                    if (offeringStr == quarterID || 
                        (!tableElem.hasClass('possible-course') &&
                        !tableElem.hasClass('possible-course-warning'))) {
                        continue;
                    }

                    $('#' + offeringStr + makeCondensedName(courseObj.fields.identifier)).remove();

                    resetAddedUnits(offeringStr);

                    removeClassFromSchedule(courseObj.fields.identifier, offeringStr);
                }
        }
        
        
        
        function confirmAddCourse(courseTableID) {
            var quarterID = $('#' + courseTableID).parent().attr('id');
            var units = parseInt($('#' + courseTableID).find('.units').html());
            var courseName = $('#' + courseTableID).find('.courseName').html();
            
            
            $('#' + courseTableID).find('.icon-ok').tooltip('hide');
            $('#' + courseTableID).find('.info').empty();
            
            // Remember to redraw the dragging for this course!
            
            var infoTD = $('#' + courseTableID).find('.info');
            infoTD.append('<i class="icon-move"></i>&nbsp;&nbsp;' + 
                '<i class="icon-trash" onclick="removeCourse(\'' + courseTableID + '\');"></i>');
                
            infoTD.find('.icon-move').tooltip({'title': 'Move Course', 'placement': 'top'});
            infoTD.find('.icon-trash').tooltip({'title': 'Delete Course', 'placement': 'top'});
                
            var courseObj = getJSONForCourse(courseName);
                            
            // $('#' + courseTableID).popover({
            //    title: courseObj.fields.identifier,
            //    content: courseObj.fields.name,
            //    placement: 'right'
            // });
                
            updateQuarterUnits(quarterID, units);
                
            resetAddedUnits(quarterID);
                        
            confirmDates(quarterID, courseName);
            
            deleteAddedCourse(courseObj, jQuery.parseJSON(offeringsJSON[courseName]), quarterID);
            
            $('#' + courseTableID).removeClass('possible-course');
            $('#' + courseTableID).removeClass('possible-course-warning');
            $('#' + courseTableID).css('background-color', 'none');
                        
            var liElem = $('#' + makeCondensedName(courseName) + '-search-result');
                        
            liElem.parent().removeClass('active');
            
            liElem.unbind('mouseupoutside');
            
        }
        
        
        function resetAddedUnits(quarterID) {
            
            $('#' + quarterID + '-added-units').hide();
            
        }
        
        function updateAddedUnits(quarterID, units, isWarning, isDelete) {
            
            var sign = "+";
            
            if (isDelete) {
                $('#' + quarterID + '-added-units').css('color', '#bd362f');
                sign = "-";
            } else if (isWarning) {
                $('#' + quarterID + '-added-units').css('color', '#fc9c00');
            } else {
                $('#' + quarterID + '-added-units').css('color', '#54cc33');
            }         
            $('#' + quarterID + '-added-units').html(sign + units);        
            $('#' + quarterID + '-added-units').show();
        }
        
        var MONDAY = 23;
        
        function makeNewEvent(day, startTime, endTime, courseName, isAdded, isWarningAll) {
            
            var dayNum;
                        
            if (day == 'M') {
                dayNum = MONDAY;
            } else if (day == 'T') {
                dayNum = MONDAY + 1;
            } else if (day == 'W') {
                dayNum = MONDAY + 2;
            } else if (day == 'R') {
                dayNum = MONDAY + 3;
            } else if (day == 'F') {
                dayNum = MONDAY + 4;
            } else {
                dayNum = MONDAY;
            }
                                    
            return {
                'start': new Date(2012, 3, dayNum, parseInt(startTime.substring(0, 2), 10), parseInt(startTime.substring(3, 5), 10)), 
                'end': new Date(2012, 3, dayNum, parseInt(endTime.substring(0, 2), 10), parseInt(endTime.substring(3, 5), 10)), 
                'title': courseName,
                'allDay': false,
                'color': (isWarningAll ? '#ffc40d' : '#54cc33')
            };
            
        }
        
        
        function addToCalendar(quarterID, offering, courseIdentifier, isWarningAll) {                        
                                                                        
            for (var i = 0; i < offering.weekdays.length; i++) {
             
                var courseEvent = makeNewEvent(offering.weekdays.charAt(i), offering.start_time, 
                    offering.end_time, courseIdentifier, true, isWarningAll);
                                
                scheduleArray[quarterID].push(courseEvent);
                
            }

        }
        
        var WARNING_OFFERING_TIME_CONFLICT = 0;
        var WARNING_ALL_DOUBLE_COURSE = 0;
        
        
        function evalForWarningOffering(quarterID, courseName, offering) {
            
            var warningArray = new Array(1);
            
            warningArray[WARNING_OFFERING_TIME_CONFLICT] = checkIfTimeConflict(quarterID, courseName, offering);
                        
            return warningArray;
            
            
        }
        
        function evalForWarningAll(quarterID, courseName) {
            
            var warningArray = new Array(1);
            
            warningArray[WARNING_ALL_DOUBLE_COURSE] = checkIfDoubleCourse(courseName);
            
            return warningArray;
            
        }
        
        
        function checkIfDoubleCourse(courseName) {
            for (var i in years) {
                
                for (var j in termNames) {
                    
                    var quarterID = termNames[j] + years[i];
                                        
                    if ($('#' + quarterID + makeCondensedName(courseName)).length) {
                        return termNames[i] + " " + years[i];
                    }
                    
                }
                
            }
            
            return false;
        }
        
        
        var years = ['2012-2013', '2013-2014', '2014-2015', '2015-2016'];        
        
        function addCourse(classLinkItem) {
            
            // $(classLinkItem).popover('hide');
            
            if ($(classLinkItem).parent().hasClass('active')) {
                return;
            }
            
            $(classLinkItem).parent().addClass('active');
                        
            var courseName = $(classLinkItem).find('.shortName').html();
                          
            var courseObj = getJSONForCourse(courseName);
                                                
            var offerings = jQuery.parseJSON(offeringsJSON[courseName]);
            
            $(classLinkItem).bind('mousedownoutside', function (event) {
                                                
                if ($(event.target).hasClass('confirm-add-class')) {
                    
                    var quarterID = $(event.target).closest('.quarter-div').attr('id');
                    
                    confirmAddCourse(quarterID + makeCondensedName(courseName));
                    
                    $(classLinkItem).parent().removeClass('active');

                    $(this).unbind('mousedownoutside');
                                        
                } else if ($(event.target).hasClass('icon-move') ||
                    $(event.target).hasClass('icon-trash') || 
                    $(event.target).prop('tagName') == "BODY" ||
                    $(event.target).prop('tagName') == "HTML" ||
                    ($(event.target).attr('id') != null && 
                        ($(event.target).attr('id').indexOf("-search-result") != -1) ||
                        ($(event.target).attr('id') == "course-search"))
                    ) {
                        
                        cancelAddCourse(courseObj, offerings);
                    
                        $(classLinkItem).parent().removeClass('active');

                        $(this).unbind('mouseupoutside');
                }
                                
            });
            
            var warningArrayAll = evalForWarningAll(offeringStr, courseName);
            
            var isWarningAll = false;
            for (var i in warningArrayAll) {
                if (warningArrayAll[i] != false) {
                    isWarningAll = true;
                    break;
                }
            }
                                                            
            for (var i in offerings) {
                                                                                                   
                var offeringStr = termNames[parseInt(offerings[i].fields.term) - 1] + 
                    years[parseInt(offerings[i].fields.year) - 1];
                                        
                // double adding class in 1 quarter
                if ($('#' + offeringStr + makeCondensedName(courseName)).length) {
                    continue;
                }
                                
                // evaluate quarter in which you are going to place the class to validate                
                                            
                                            
                addToCalendar(offeringStr, offerings[i].fields, courseObj.fields.identifier, isWarningAll);
                                                       
                var warningArrayOffering = evalForWarningOffering(offeringStr, courseName, offerings[i].fields);
                 
                var isWarningOffering = false;
                for (var i in warningArrayOffering) {
                    if (warningArrayOffering[i] != false) {
                        isWarningOffering = true;
                        break;
                    }
                }
                
                var isWarning = isWarningAll;
                if (isWarningAll == false && isWarningOffering == true) {
                    isWarning = true;
                }
                                       
                updateAddedUnits(offeringStr, courseObj.fields.units, isWarning, false);
                                
                $('#' + offeringStr).prepend(makeAddedCourseHTML(offeringStr, courseObj.fields, isWarning));
                
                createRolloversForAddedCourse(offeringStr, courseObj.fields, isWarning, 
                    warningArrayAll, warningArrayOffering);
                        
            }
           
        }
        
        
        function checkIfTimeConflict(quarterID, courseName, offering) {
            
            var flag = null;
            
            var numOfferings = offering.weekdays.length;
            
            var events = scheduleArray[quarterID];
            
            for (var i = 0; i < events.length - numOfferings; i++) {
                
                var startTime = events[i].start.getTime();
                var endTime = events[i].end.getTime();
                
                for (var j = events.length - numOfferings; j < events.length; j++) { 
                
                    var offeringST = events[j].start.getTime();
                    var offeringET = events[j].end.getTime();
                    
                    // Time conflict exists
                    if ((offeringST >= startTime && offeringST < endTime) ||
                        (offeringET > startTime && offeringET <= endTime)) {
                        
                        events[j].color = '#ffc40d';
                        flag = events[i].title;
                        
                    }
                    
                }
                
                
                
            }
            
            return (flag == null ? false : flag);
            
        }
        
        
        function cancelAddCourse(courseObj, offerings) {
           
            for (var i in offerings) {
             
                var offeringStr = termNames[parseInt(offerings[i].fields.term) - 1] + 
                    years[parseInt(offerings[i].fields.year) - 1];
                    
                // Don't delete if course is already in the plan
                if (!$('#' + offeringStr + makeCondensedName(courseObj.fields.identifier)).hasClass('possible-course') &&
                    !$('#' + offeringStr + makeCondensedName(courseObj.fields.identifier)).hasClass('possible-course-warning')) {
                        continue;
                }
                                        
                $('#' + offeringStr + makeCondensedName(courseObj.fields.identifier)).remove();
                
                resetAddedUnits(offeringStr);
                
                removeClassFromSchedule(courseObj.fields.identifier, offeringStr);
                                
            }
            
        }
        
        
        function createSearchResults(courses) {
                        
            $('#search-results-nav').empty();
            
            if (courses.length == 0) {
                $('#requirements-toolbox-label').html('No results found.');
                return;
            }
            
            $('#requirements-toolbox-label').html('Search results (' + courses.length + '): ');
            
            for (var i in courses) {
                
                var courseShortName = courses[i].fields.identifier;
                var courseLongName = courses[i].fields.name;
                
                $('#search-results-nav').append('<li><a href="#" id="' + makeCondensedName(courseShortName)
                    + '-search-result" onclick="addCourse(this)"><span class="shortName">' + 
                    courseShortName  + '</span>: ' + courseLongName +  '</a></li>');
                    
                // $('#' + makeCondensedName(courseShortName) + '-search-result').popover({
                //     title: courseShortName,
                //     content: courseLongName,
                //     placement: 'left'
                // });
                
            }
            
        }
        
        
        function runSearch() {
            
            var searchValue = $('#course-search').attr('value');
            
            if (searchValue.length == 0) {
                $('#search-results-nav').empty();
                $('#requirements-toolbox-label').html('');
                return;
            }
            
            $.ajax({
                url: '/search/' + searchValue,
                success: function (data, textStatus, jqXHR) {
                    classesJSON = jQuery.parseJSON(data.classes);
                    offeringsJSON = data.offerings;
                    createSearchResults(classesJSON);
                }
            });
        }
        
    
    </script>    
    
    
</head>



<body style="margin-top: 35px;"> 
    
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
                <div class="container-fluid">
                
                <a href="#" class="brand"><font color="white">planit</font></a>

                                    
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            CS FYP1&nbsp;<b class="caret"></b>  
                        </a>
                        <ul class="dropdown-menu">

                            <li><a href="#">CS FYP1&nbsp;<i class="icon-ok"></i></a></li>
                            <li><a href="#">CS FYP2</a></li>
                            <li><a href="#">ME FYP1</a></li>
                            <li class="divider"></li>
                            <li><a href="#" onclick="openNewPlanModal()"><i class="icon-plus-sign"></i>&nbsp;Create New Four-Year Plan</a></li>
                        </ul>
                     </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user icon-white"></i>&nbsp;Jonathan Helman&nbsp;<b class="caret"></b>  
                        </a>
                        <ul class="dropdown-menu">
                        
                            <li><a href="#" onclick="openAccountSettingsModal()">Account Settings</a></li>

                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
         
                
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="new-plan-modal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h3>Create New Four-Year Plan</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="new-plan-form">
                
                 <fieldset>
                     <div class="control-group">
                         <label class="control-label" for="plan-name">Four-Year Plan Name</label>
                         <div class="controls">
                             <input type="text" id="plan-name"></input>
                             <p class="help-inline" id="plan-name-help-block" style="display: none;">Required</p>
                         </div>
                    </div>
                </fieldset>
                   
                   
                 <fieldset>
                     <div class="control-group">
                         <label class="control-label" for="major">Major</label>
                         <div class="controls">
                             <select id="major">
                                 <option value="">Choose a major</option>
                                 <option value="Computer Science">Computer Science</option>
                                 <option value="Electrical Engineering">Electrical Engineering</option>
                                 <option value="Physics">Physics</option>
                             </select>
                             <p class="help-inline" id="major-help-block" style="display: none;">Required</p>
                         </div>
                    </div>
                </fieldset>

            </form>
        </div>
        
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" onclick="createNewPlan()">Create Plan</button>
        </div>
        
    </div>   
    
    
    <div class="modal fade" id="account-settings-modal">
        <div class="modal-header">
           <button class="close" data-dismiss="modal">&times;</button>
           <h3>Account Settings: jhelman@stanford.edu</h3>
        </div>
        <div class="modal-body">
           <form class="form-horizontal" id="account-settings-form">

                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="account-settings-fullname">Full Name</label>
                        <div class="controls">
                            <input type="text" id="account-settings-fullname" placeholder="Jonathan Helman"></input>
                        </div>
                   </div>
               </fieldset>


                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="graduation-year">Graduation Year</label>
                        <div class="controls">
                            <select id="graduation-year">
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                            </select>
                        </div>
                   </div>
               </fieldset>

           </form>
       </div>

       <div class="modal-footer">
           <button class="btn" data-dismiss="modal">Cancel</button>
           <button class="btn btn-primary" onclick="saveAccountSettings()">Save Account Settings</button>
       </div>

    </div>   
    
    
    
    <div class="modal fade" id="schedule-modal">
        <div class="modal-header">
           <button class="close" data-dismiss="modal">&times;</button>
           <h3><span id="schedule-modal-title"></span></h3>
        </div>
        <div class="modal-body" id="schedule-modal-body">
            <div id="schedule-modal-calendar"></div>
            
        </div>

       <div class="modal-footer">
           <button class="btn" data-dismiss="modal">Close</button>
           
       </div>

    </div>
    
    
    
    <table><tr>
        
        <td>
    
	        <table>
                <tr>
                    <td>&nbsp;</td>
                    <td class="quarter-label"><center><h4>Autumn Quarter</h4></center></td>
                    <td class="quarter-label"><center><h4>Winter Quarter</h4></center></td>
                    <td class="quarter-label"><center><h4>Spring Quarter</h4></center></td>
                </tr>
		
		
        		{% for year in years %}
        		<!-- Row for quart7d15c7ee4c4f173af63368495069d52b033d6f84er boxes -->
        			<tr style="background-color: #{% cycle eeeeee,d9edf7 %}">
        				<td class="year-label"><center><h4>{{ year.name }}<br/>({{ year.year }})</h4></center></td>
			
			
        				{% for term in year.terms %}
        					<td>	
        			            <!-- <center><table><tr>
        			                <td><h4>{{ term.name }}</h4></td><td>&nbsp;</td>
        			                <td><i class="icon-info-sign"></i></td><td>&nbsp;</td>
        			                <td><i class="icon-calendar"></i></td>
        			            </tr></table></center> -->
				
				
        				        <table>
        				            <tr>
        				                <td style="padding: 0px">
				
        						            <div class="quarter-div" id="{{ term.condensedName }}" style="overflow: scroll;">
						    	
                    						    <div class="quarter-div cover"></div>

                        				        <div class="alert alert-error delete-alert">
                                            	    <a class="close" href="#" onclick="cancelDeleteCourse('{{ term.condensedName }}');">&times;</a>
                                            	    <h4 class="alert-heading"></h4>
                                            	    <span class="alert-body"></span>
                                            	    <span class="alert-delete-course-id" style="display: none; visibility; hidden;"></span>
                                            	    <span class="alert-delete-course-name" style="display: none; visibility; hidden;"></span>
                                            	    
                                            	    <br />
                                            	    <button class="btn btn-danger" onclick="confirmDeleteCourse('{{ term.condensedName }}');">Delete</button>
                                            	    <button class="btn" onclick="cancelDeleteCourse('{{ term.condensedName }}');">Cancel</button>
                                                </div>
						    	
                    							{% for course in term.courses %}
                    				                <table id="{{ term.condensedName|add:course.condensedID }}" class="table table-bordered table-condensed course">
                    				                    <tr>
                    				                        <td class="courseName">{{ course.identifier }}</td>
                    				                        <td class="units">{{ course.units }}</td>
                    				                        <td class="info"><i class="icon-move"></i>&nbsp;
                    				                            <i class="icon-trash" onclick="removeCourse('{{ term.condensedName|add:course.condensedID }}');"></i></td>
                    				                    </tr>
                    				                </table>
                    							{% endfor %}
                    						</div>
						
        					            </td>
				    
                				        <td style="padding: 0px">
                				            <div class="quarter-info-div">
                				                <span class="quarter-info-span">
                				                    Units<br/>
                    				                <span id="{{ term.condensedName }}-units">{{ term.units }}</span><br/>
                    				                <span id="{{ term.condensedName }}-added-units" class="added-units">+0</span><br/>
                    				                <br/>
				            
                    				                <i class="icon-calendar" onclick="openCalendar('{{ term.condensedName }}', this);"></i>
                    				            </span>
                				            </div>
                				        </td>
        			                </tr>
        		                </table>
						
						
						
        					</td>
        				{% endfor %}
        				<td>&nbsp;</td>
        			</tr>
        		{% endfor %}
                    <!-- <tr style="height: 10px">
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                        <td>
                            <b>Major</b>: Computer Science &nbsp;&nbsp;&nbsp;&nbsp;<br/>
                            <b>Total Units</b>: <span id="total-units">{{ totalUnits }}</span>
                        </td>
                    </tr>     
                 -->
        		
        		
        	</table>
	
	
        </td>
        
        <td style="padding-left: 20px; vertical-align: top;">
            
            <table>
                <tr>
                    <td>
                        
                        <div id="requirements-toolbox">
                            
                            <div id="search-div">
                                <div id="course-search-form">
                                    <input type="text" id="course-search" onkeyup="runSearch();" placeholder="Search for classes" class="input-medium search-query"/>
                                    <!-- <button class="btn" onclick="runSearch()">Search</button> -->
                                </div>
                            </div>
                            
                            <b><span id="requirements-toolbox-label"></span></b>
                            
                            <br/>
                            
                            <ul id="search-results-nav" class="nav nav-pills nav-stacked">
       
                            </ul>
                            
                        </div>
  
                       
                    </td>
                </tr>
                <tr style="height: 30px"><td>&nbsp;</td></tr>
                <tr>
                    <td>
                        <b>Major</b>: Computer Science
                        <br/>
                        <b>Total Units</b>: <span id="total-units">{{ totalUnits }}</span>
                        <br/>
            
                    </td>
                </tr>
                
            </table>
                    
            
        </td>
        
        
    </tr></table>
    
    <br />
    <br />
    <br />
    <br />
    
    <div class="row">
        <div class="span4">
            
            
        </div>
        
        
        
    </div>
    
</body>


</html>
