{% load planner_extras %}

<!DOCTYPE html>
<html>

<head>
    <title>PlanIt</title>
    
    
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.20.custom.min.js"></script>
    <!-- <script type="text/javascript" src="jquery-ui/development-bundle/ui/jquery.ui.droppable.js"></script> -->
    
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fullcalendar/fullcalendar/fullcalendar.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css"/>
    
    
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}clickoutside/clickoutside.js"></script>
    
    
    <!-- <script type="text/javascript" src="{{ STATIC_URL }}jquery-week-calendar/jquery.weekcalendar.js"></script> -->
    
    <script type="text/javascript" src="{{ STATIC_URL }}fullcalendar/fullcalendar/fullcalendar.js"></script>
    
        
    
    <script type="text/javascript">
		
		/* Date object creation utility function */
		
		var MONDAY = 23;
        
        function makeNewEvent(day, startTime, endTime, courseName, isAdded, isWarning) {
            
            var dayNum;
                        
            if (day == 'M') {
                dayNum = MONDAY;
            } else if (day == 'T') {
                dayNum = MONDAY + 1;
            } else if (day == 'W') {
                dayNum = MONDAY + 2;
            } else if (day == 'R') {
                dayNum = MONDAY + 3;
            } else if (day == 'F') {
                dayNum = MONDAY + 4;
            } else {
                dayNum = MONDAY;
            }
                                    
            return {
                'start': new Date(2012, 3, dayNum, parseInt(startTime.substring(0, 2), 10), parseInt(startTime.substring(3, 5), 10)), 
                'end': new Date(2012, 3, dayNum, parseInt(endTime.substring(0, 2), 10), parseInt(endTime.substring(3, 5), 10)), 
                'title': courseName,
                'allDay': false,
                'color': (isWarning ? '#ffc40d' : (isAdded ? '#54cc33' : 'none'))
            };
            
        }
        
        
        function createEventObjects(courseName, offering, isAdded, isWarning) {
            var eventObjects = [];
            
            for (var i = 0; i < offering.weekdays.length; i++) {
                eventObjects.push(makeNewEvent(offering.weekdays.charAt(i), offering.start_time,
                    offering.end_time, courseName, isAdded, isWarning));
            }
            
            return eventObjects;
        }
        
        function collectDatesForTerm(termID) {
            
            var term = plan.getTermById(termID);
            
            var eventArray = [];
            for (var i in term.courses) {
                if ((term.courses)[i] == undefined) {
                    continue;
                }
                $.merge(eventArray, (term.courses)[i].eventObjects);
            }
            
            return eventArray;
            
        }
		
		
		
		// found this on StackOverflow...needed to do ajax POST requests with proper csrf protection
		$.ajaxSetup({ 
		     beforeSend: function(xhr, settings) {
		         function getCookie(name) {
		             var cookieValue = null;
		             if (document.cookie && document.cookie != '') {
		                 var cookies = document.cookie.split(';');
		                 for (var i = 0; i < cookies.length; i++) {
		                     var cookie = jQuery.trim(cookies[i]);
		                     // Does this cookie string begin with the name we want?
		                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                     break;
		                 }
		             }
		         }
		         return cookieValue;
		         }
		         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
		             // Only send the token to relative URLs i.e. locally.
		             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		         }
		     } 
		});
	
        var termNames = new Array();
		{% for name in term_names %}
		termNames.push('{{ name }}');
		{% endfor %}
		
		var years = new Array();
		var yearNums = new Array();
		{% for year in years %}
		var start_num = {{ year.start_num }}
		years.push(start_num + '-' + (start_num + 1));
		yearNums.push(start_num);
		{% endfor %}
		
		function convertYearToLongForm(year) {
			return year + '-' + (year + 1)
		}
		
		


        /* Begin Javascript Object representing the model */
    
        function FourYearPlan(planName, major) {
            this.planName = planName;
            this.major = major;
            this.units = 0;
            this.terms = new Array();
            for (var i in termNames) {
                for (var j in years) {
                    var termID = termNames[i] + years[j];
                    this.terms[termID] = new Term(termID, this);
                }
            }
        }
    
        FourYearPlan.prototype.getTerm = function (termNumber, yearNumber) {
            return this.terms[termNames[termNumber] + years[yearNumber]];
        }
        
        FourYearPlan.prototype.getTermById = function (termID) {
            return this.terms[termID];
        }
    
        function Term(termID, plan) {
            this.termID = termID;
            this.units = 0;
            this.plan = plan;
            this.acceptedDragsForTerm = new Array();
            this.courses = new Array();   
        }
    
        Term.prototype.addCourse = function(course) {
            this.courses[course.cName] = course;
            this.units += course.units;
            this.plan.units += course.units;
        }
    
        Term.prototype.addDraggable = function(course) {
            if ($.inArray(course, this.acceptedDragsForTerm) == -1) {
                this.acceptedDragsForTerm.push(course);
            }
        }
        
    
        Term.prototype.removeCourse = function(course) {
            this.courses[course.cName] = undefined;
            this.units -= course.units;
            this.plan.units -= course.units;
        }
        
        Term.prototype.removeDraggable = function(courseName) {
            var pos = -1;
            for (var i in this.acceptedDragsForTerm) {
                if ((this.acceptedDragsForTerm)[i].cName == makeCondensedName(courseName)) {
                    pos = i;
                    break;
                }
            }
            
            if (pos > -1) {
                this.acceptedDragsForTerm.splice(pos, 1);
            }
        }
        
        Term.prototype.getCourse = function(courseName) {
            var course = this.courses[makeCondensedName(courseName)];
            if (course != undefined && course != null) {
                return course;
            }
            return false;
        }
    
        Term.prototype.containsCourse = function(courseName) {
            if (this.courses[makeCondensedName(courseName)] != undefined) {
                return true;
            }
            return false;
        }
        
        
        Term.prototype.removeAddedCourse = function(courseName) {
            this.courses[makeCondensedName(courseName)] = undefined;
        }
    
        // TODO maybe make this more efficient with associative array?
        Term.prototype.hasDraggable = function(courseName) {
            var dragArray = this.acceptedDragsForTerm;
            for (var i in dragArray) {
                if (dragArray[i].name == courseName) {
                    return true;
                }
            }
            return false;
        }
        
        Term.prototype.updateUnitsForCourse = function(courseName, units) {
            var baseUnits = this.units - this.courses[makeCondensedName(courseName)].units;
            this.courses[makeCondensedName(courseName)].units = units;
            this.units = baseUnits + units;
        }
    
        function Course(name, offerings, offering, minUnits, maxUnits, courseObj, isAdded, isWarning) {
           this.name = name;
           this.cName = name.replace(" ", "");
           this.offerings = offerings; // All possible offerings in JSON
           this.offering = offering;  // The offering JSON the person is taking
           this.eventObjects = createEventObjects(this.name, this.offering.fields, isAdded, isWarning);
           this.minUnits = minUnits;
           this.maxUnits = maxUnits;
           this.units = maxUnits;
           this.courseObj = courseObj;  // This will be the JSON
           this.isAdded = isAdded; 
        }

        Course.prototype.confirmCourse = function() {
            this.isAdded = false;
            for (var i in this.eventObjects) {
                (this.eventObjects)[i].color = 'none';
            }
        }
    
        function getOffering(offerings, termNum, yearNum) {
            for (var i in offerings) {
                if (parseInt(offerings[i].fields.term) == termNum + 1 && 
                    parseInt(offerings[i].fields.year) == yearNums[yearNum]) {
                   return offerings[i];
                }
            }
            return false;
        }
    
        plan = new FourYearPlan('{{ plan.student_name }}', '{{ plan.major.name }}')
	
    	{% for year in years %}
    	{% for term in year.terms %}
    	var t = plan.getTerm({{ term.num }}, {{ year.year_index }});
    	{% for course in term.courses %}
    	{% autoescape off %}
    	var offerings = jQuery.parseJSON({{ course.offering_json }});
    	var c = new Course('{{ course.identifier }}', offerings, 
    	    getOffering(offerings, {{ term.num }}, {{ year.year_index }}), 
    	    {{ course.min_units }}, {{ course.max_units }}, jQuery.parseJSON({{ course.course_json }}), 
    	    false, false);
    	{% endautoescape %}
		
		// add draggable information
		{% for offering in offerings|get_item:course.identifier %}
		{% if offering.year.start_num != year.start_num or offering.term.num != term.num %}
		var possibleTargetTerm = plan.getTerm({{ offering.term.num }}, {{ offering.year }} - {{ plan.start_year }});
		possibleTargetTerm.addDraggable(c);
		{% endif %}
		{% endfor %}
    	t.addCourse(c);
    	{% endfor %}
    	{% endfor %}
    	{% endfor %}
	
        /* End Javascript Object representing the model */


        
        var classesJSON = null;
        var offeringsJSON = null;
        var dragTerm = null;
        
        function makeDrag(draggableElemStr) {
            // Reference: http://blog.petersendidit.com/post/drag-table-row-to-a-div-with-jquery/
            
            var elemStr;
            if (draggableElemStr == false) {
                elemStr = '.course';
            } else {
                elemStr = draggableElemStr;
            }
            
            $(elemStr).draggable({handle: '.icon-move', revert: 'invalid',

                helper: function (event) {
                    var copy = $(event.currentTarget).clone();
                    copy.find('.icon-trash').unbind('onclick');
                    copy.css('z-index', '1000');
                    copy.css('background-color', '#eeeeee');
                    return copy.appendTo('body');
                },

                start: function (event, ui) {
                    dragTerm = $(this).closest('.quarter-div').attr('id');
                    var courseName = ui.helper.find('.courseName').html();
                    for (var i in termNames) {
                       for (var j in years) {
                           var termStr = termNames[i] + years[j];
                           if (dragTerm == termStr) {
                               continue;
                           }
                           if (plan.getTerm(i, j).containsCourse(courseName)) {
                               $('#' + termStr + '-drag-cover').html("<h4>Already taking " + courseName + 
                                   " during this quarter.</h4>");
                               $('#' + termStr + '-drag-cover').show();
                           } else if (!plan.getTerm(i, j).hasDraggable(courseName)) {
                                $('#' + termStr + '-drag-cover').html("<h4>" + courseName + 
                                    " not offered this quarter.</h4>");
                                $('#' + termStr + '-drag-cover').show();
                           }
                       }
                    }
                },

                stop: function (event, ui) {
                    for (var i in termNames) {
                       for (var j in years) {
                           var termStr = termNames[i] + years[j];
                           $('#' + termStr + '-drag-cover').hide();
                       }
                    }
                }
            });
        
        }
        
        function makeDrop() {
            {% for year in years %}
			{% for term in year.terms %}
			$('#{{ term.condensedName }}').droppable({
				
				accept: function (elem) {
				    if (plan.getTermById('{{ term.condensedName }}').hasDraggable(elem.find('.courseName').html())) {
				        return true;
			        }
			        return false;
				},
				
				
				drop: function (event, ui) {
				    var courseName = ui.draggable.find('.courseName').html();
                    $('#{{ term.condensedName }}-courses').prepend(ui.draggable);
                    var course = plan.getTermById(dragTerm).getCourse(courseName);
                    plan.getTermById('{{ term.condensedName }}').addCourse(course);
                    plan.getTermById(dragTerm).addDraggable(course);
                    plan.getTermById(dragTerm).removeCourse(course);
                    plan.getTermById('{{ term.condensedName }}').removeDraggable(courseName);
					ui.draggable.attr('id', '{{ term.condensedName }}' + makeCondensedName(courseName));
					updateQuarterUnitsUI('{{ term.condensedName }}', 
					    parseInt(ui.draggable.find('.units div').html()), false);
					updateQuarterUnitsUI(dragTerm, 
				        parseInt("-" + ui.draggable.find('.units div').html()), false);
				}
			});
			{% endfor %}
			{% endfor %}   
        }
        
        
        
                
        $(document).ready(function () {
            
            {% for year in years %}
			{% for term in year.terms %}
			{% for course in term.courses%}
			$('#{{ term.condensedName|add:course.condensedID }}').popover({'title': '{{ course.identifier }}', 'content': '{{ course.title }}', 'placement': 'right'});
			{% endfor %}
			{% endfor %}
			{% endfor %}
			

            // Static
            $('.icon-move').tooltip({'title': 'Move Course', 'placement': 'top'});
            $('.icon-trash').tooltip({'title': 'Delete Course', 'placement': 'top'});
            $('.icon-calendar').tooltip({'title': 'View Schedule', 'placement': 'right'});
            $('.icon-info-sign').tooltip({'title': 'Unit Count', 'placement': 'bottom'});
            $('.units-rollover').tooltip({'title': 'Change Units', 'placement': 'top'});
            
            
            
            $('.units').on('click', function(event) { clickChangeUnits(this) });
            
            
            
            $('.dropdown-toggle').dropdown();            
            makeDrag(false);
            makeDrop();
            
            $('#new-plan-modal').modal({'show': false});
            $('#account-settings-modal').modal({'show': false});
            $('#schedule-modal').modal({'show': false});
			
            
            $('#schedule-modal-calendar').fullCalendar({ 
                firstDay: 1,
                weekends: false,
                header: false,
                defaultView: 'agendaWeek',
                minTime: '8:00',
                maxTime: '18:00',
                slotMinutes: 30,
                allDaySlot: false,
                columnFormat: {week: 'dddd'}
            });
            
            $('#schedule-modal-calendar').fullCalendar('gotoDate', 2012, 3, 23);
            
            $('#schedule-modal').on('shown', function () {
                $('#schedule-modal-calendar').fullCalendar('removeEvents');
                $('#schedule-modal-calendar').fullCalendar('addEventSource', collectDatesForTerm(quarterScheduleToShow));
            });
            
            $('#schedule-modal').on('hide', function () {
                $('#schedule-modal-calendar').fullCalendar('removeEvents');
            });
            
            
        
        });
        
        

        
        
        function removeCourse(infoElem) {
            
            var courseElem = $(infoElem).closest('.course');
            var courseName = courseElem.find('.courseName').html();
                        
            courseElem.find('.icon-trash').tooltip('hide');
            courseElem.popover('hide');
            
            var qDiv = courseElem.closest('.quarter-div');
            var cover = qDiv.find('.cover');
            var alertBox = qDiv.find('.delete-alert');
            
            alertBox.find('.alert-heading').html('Delete ' + courseName + '?');
            alertBox.find('.alert-body').html('Are you sure you want to delete ' + courseName + '?');
            alertBox.find('.alert-delete-course-id').html(courseElem.attr('id'));
            alertBox.find('.alert-delete-course-name').html(courseName);
                        
            alertBox.css('left', qDiv.position().left);
            alertBox.css('top', qDiv.position().top + 15);
            cover.css('left', qDiv.position().left);
            cover.css('top', qDiv.position().top);
                        
            qDiv.find('.cover').fadeIn();
            
            updateAddedUnits(qDiv.attr('id'), courseElem.find('.units div').html(), false, true);
            
            alertBox.fadeIn();
        }
        
        
        function cancelDeleteCourse(quarterID) {
            var qDiv = $('#' + quarterID);
            
            qDiv.find('.delete-alert').hide();
            qDiv.find('.cover').hide();
                        
            resetAddedUnits(quarterID);
        }
        
        function updateQuarterUnitsUI(quarterID, unitChange, updateTotal) {
            
            $('#' + quarterID + '-units').html(parseInt($('#' + quarterID + '-units').html()) + unitChange);        
            if (updateTotal) {
                $('#total-units').html(parseInt($('#total-units').html()) + unitChange);
            }
        }
         
		
        function confirmDeleteCourse(quarterID) {
            var qDiv = $('#' + quarterID);
            var courseElem = $('#' + qDiv.find('.alert-delete-course-id').html());
            var numUnits = courseElem.find('.units div').html();
            
            courseElem.remove();
            
            updateQuarterUnitsUI(quarterID, parseInt("-" + numUnits), true);
            
            var courseName = qDiv.find('.alert-delete-course-name').html();
            var course = plan.getTermById(quarterID).getCourse(courseName);
            plan.getTermById(quarterID).removeCourse(course);
                        
            resetAddedUnits(quarterID);
            
            cancelDeleteCourse(quarterID);
			
			// TODO dan put AJAX call here
			var termYear = convertFromCondensedName(quarterID).split(" ");
			var termName = termYear[0];
			var term = termNames.indexOf(termName);
			var year = parseInt(termYear[1].split("-"))
			var data = new Object();
			data['term'] = term;
			data['year'] = year;
			data['course'] = course.name;
			data['plan'] = plan.planName;
			$.ajax({
				type: 'POST',
				url: '/deleteCourse/',
				data: data
			});
			
        }
        
  
        function closeAddCourse() {
            clearTimeout(fading_alert_timeout);
            $('#add-course-alert').fadeOut();
        }
        
        
        function openNewPlanModal() {
            $('#new-plan-modal').modal('show');            
        }
        
        
        function validateNewPlan() {
                        
            var planName = $('#plan-name').attr('value');
            var major = $('#major').attr('value');
            
            var flag = 0;
            
            if (planName.length == 0) {
                $('#plan-name').closest('.control-group').addClass('error');
                $('#plan-name-help-block').show();
                flag = 1;
            } else {
                $('#plan-name').closest('.control-group').removeClass('error');
                $('#plan-name-help-block').hide();
                
            }
             
             
            if (major.length == 0) {
                $('#major').closest('.control-group').addClass('error');
                $('#major-help-block').show();
                flag = 1;
            } else {
                $('#major').closest('.control-group').removeClass('error');
                $('#major-help-block').hide();
                
            }   
           
            return (flag == 0 ? true : false);
            
        }
        
        
        
        function createNewPlan() {
            
            if (validateNewPlan() == false) {
                return;
            }
            
            $('#new-plan-modal').modal('hide');
            
            var planName = $('#plan-name').attr('value');
            var major = $('#major').attr('value');
            
            
            $('#plan-name').attr('value', '');
            $('#major').attr('value', '');
        }
        
        
        
        function openAccountSettingsModal() {
            $('#account-settings-modal').modal('show');
        }
        
        function saveAccountSettings() {
            var fullname = $('#account-settings-fullname').attr('value');
            if (fullname.length == 0) {
                fullname = $('#account-settings-fullname').attr('placeholder');
            }

            $('#account-settings-modal').modal('hide');
        }
        

        
        function convertFromCondensedName(condensedName) {
            
            for (var i in termNames) {
                if (condensedName.indexOf(termNames[i]) != -1) {
                    return termNames[i] + ' ' + condensedName.substring(termNames[i].length);
                }
            }
            
            return false;
        }
        
        
        var quarterScheduleToShow = null;
        
        function openCalendar(quarterName, tt) {
            
            $(tt).tooltip('hide');
            $('#schedule-modal-title').html(convertFromCondensedName(quarterName) + ' Weekly Schedule');            
            
            quarterScheduleToShow = quarterName;
            $('#schedule-modal').modal('show');  
        }
        
        
        function getJSONForCourse(courseName) {
            for (var i in classesJSON) {
                 if (classesJSON[i].fields.identifier == courseName) {
                     return classesJSON[i];
                 }
             }
        }
        
        function makeCondensedName(longName) {
            return longName.replace(" ", "");
        }
        
        
        function changeUnits(selectElem, termId, courseId, oldUnits) {

            var units = parseInt($(selectElem).attr('value'));
            updateQuarterUnitsUI(termId, -oldUnits, true);
            plan.getTermById(termId).updateUnitsForCourse(courseId, units);
            updateQuarterUnitsUI(termId, units, true);
            
            removeSelect(selectElem, units);
            
        }
        
        function removeSelect(selectElem, units) {
            var unitsElem = $(selectElem).closest('.units');
            
            unitsElem.empty();
            unitsElem.html("<div class='units-rollover'>" + units + "</div>");            
            unitsElem.find('div').tooltip({'title': 'Change Units', 'placement': 'top'});
            unitsElem.closest('table').popover('enable');
            
            unitsElem.on('click', function(event) {
               clickChangeUnits(this);
            });   
        }
        
        function clickChangeUnits(unitsElem) {
            
            $(unitsElem).closest('table').popover('hide');
            $(unitsElem).closest('table').popover('disable');
            $(unitsElem).find('.units-rollover').tooltip('hide');            
            
            var termId = $(unitsElem).closest('.quarter-div').attr('id');
            var courseId = makeCondensedName($(unitsElem).closest('table').find('.courseName').html());
            
            $(unitsElem).off('click');
            
            var oldUnits = parseInt($(unitsElem).find('div').html());
            
            $(unitsElem).empty();
            $(unitsElem).html(makeUnitsSelect(courseId, termId, oldUnits, false));
            $(unitsElem).find('select').on('change', function(event) {
                changeUnits(this, termId, courseId, oldUnits); 
            });
            $(unitsElem).find('select').on('mousedownoutside', function(event) {
                changeUnits(this, termId, courseId, oldUnits); 
            });
        }
        
        function changeSelectedUnits(selectElem, termId, courseId) {
            var units = parseInt($(selectElem).attr('value'));
            updateAddedUnitsWithCurrent(termId, units);
            plan.getTermById(termId).getCourse(courseId).units = units;
        }
        
        
        function makeUnitsSelect(courseId, termId, oldUnits, isAdded) {
            var course = plan.getTermById(termId).getCourse(courseId);
            var minUnits = course.minUnits;
            var maxUnits = course.maxUnits;            
            var selector = "<select class='units-select'>";
            for (var i = minUnits; i <= maxUnits; i++) {
                if (i == oldUnits) {
                   selector += "<option value='" + i + "' selected>" + i + "</option>";
                } else {
                   selector += "<option value='" + i + "'>" + i + "</option>";
                }
            }
            selector += "</select>";
            return selector;
        }
        
        
        function makeAddedCourseHTML(addToElem, quarterID, courseObj, isWarning) {
            
            var className = "possible-course";
            
            if (isWarning) {
                className = "possible-course-warning";
            }
            
                    
            addToElem.prepend('<table id="' + quarterID + makeCondensedName(courseObj.identifier) + '"' + 
                'class="table table-bordered table-condensed course ' + className + '">' + 
                '<tr><td class="courseName">' + courseObj.identifier + '</td><td class="units">' + 
                 makeUnitsSelect(courseObj.identifier, quarterID, courseObj.max_units, true) 
                 + '</td><td class="info"><i class="icon-ok confirm-add-class"></i>' + 
                (isWarning ? '&nbsp;&nbsp;<i class="icon-warning-sign"></i>' : '')
                + '</td></tr></table>');
                
            addToElem.find('select').on('change', function(event) {
                changeSelectedUnits($(this), quarterID, courseObj.identifier, false);
            });
            
            addToElem.find('.units').on('mouseover', function(event) {
                $('#' + quarterID + makeCondensedName(courseObj.identifier)).popover('hide');
            });
                                        
        }
        
        function createRolloversForAddedCourse(quarterID, courseObj, isWarning, 
                warningArrayAll, warningArrayOffering) {
            
            $('.icon-ok').tooltip({'title': 'Add Course', 'placement': 'top'});
            
            if (isWarning) {
            
                var warningStr = "";
                
                for (var i in warningArrayAll) {
                    if (i == WARNING_ALL_DOUBLE_COURSE && warningArrayAll[i] != false) {
                           warningStr += "Course already in " + warningArrayAll[i] + "<br/>";
                    }
                }
                
                for (var j in warningArrayOffering) {
                    if (j == WARNING_OFFERING_TIME_CONFLICT && warningArrayOffering[j] != false) {
                           warningStr += "Course conflicts with " + warningArrayOffering[j] + "<br/>";
                    }
                    if (j == WARNING_OFFERING_OVER_UNITS && warningArrayOffering[j] != false) {
                           warningStr += "Over allowed units for quarter.<br/>";
                    }
                }
                        
                $('.icon-warning-sign').tooltip({'title': warningStr, 'placement': 'left'});
                
            }
            
            $('#' + quarterID + makeCondensedName(courseObj.identifier)).popover({
               title: courseObj.identifier,
               content: courseObj.title,
               placement: 'right'
            });
            
        }
        
        
        function addCourseToDraggables(courseTermId, course) {
            var offerings = course.offerings;
            for (var i in offerings) {
                var termId = termNames[parseInt(offerings[i].fields.term) - 1] + 
                    convertYearToLongForm(parseInt(offerings[i].fields.year));
                
                var offeringCourse = plan.getTermById(termId).getCourse(course.cName);
                
                if (offeringCourse != false && !offeringCourse.isAdded) {
                    continue;
                }
                
                plan.getTermById(termId).addDraggable(course);
            }
            
            // In case course taken in >1 quarter must remove from itself
            plan.getTermById(courseTermId).removeDraggable(course.cName);
            
        }
                
        
        function confirmAddCourse(courseTableID) {
            
            var courseName = $('#' + courseTableID).find('.courseName').html();
            var termId = $('#' + courseTableID).closest('.quarter-div').attr('id');
            var units = parseInt($('#' + courseTableID).find('select').attr('value'));
            
            var course = plan.getTermById(termId).getCourse(courseName);  
                        
            $('#' + courseTableID).find('.icon-ok').tooltip('hide');
            $('#' + courseTableID).find('.info').empty();
            
            // Remember to redraw the dragging for this course!
            
            var infoTD = $('#' + courseTableID).find('.info');
            infoTD.append('<i class="icon-move"></i>&nbsp;&nbsp;' + 
                '<i class="icon-trash" onclick="removeCourse(this);"></i>');
                
            infoTD.find('.icon-move').tooltip({'title': 'Move Course', 'placement': 'top'});
            infoTD.find('.icon-trash').tooltip({'title': 'Delete Course', 'placement': 'top'});
                
                                
            updateQuarterUnitsUI(termId, units, true);
                
            resetAddedUnits(termId);
            
            course.confirmCourse();            
            
            cancelAddCourse(course.courseObj, course.offerings);
            
            makeDrag('#' + termId + course.cName);
            
            addCourseToDraggables(termId, course);
            
            removeSelect($('#' + courseTableID).find('select'), units);
            
            
            $('#' + courseTableID).removeClass('possible-course');
            $('#' + courseTableID).removeClass('possible-course-warning');
            $('#' + courseTableID).css('background-color', 'none');
                        
            var liElem = $('#' + makeCondensedName(courseName) + '-search-result');
                        
            liElem.parent().removeClass('active');
            
            liElem.unbind('mousedownoutside');

			// TODO dan put AJAX call here

        }
        
        
        function resetAddedUnits(quarterID) {
            
            $('#' + quarterID + '-added-units').hide();
            
        }
        
        function updateAddedUnits(quarterID, units, isWarning, isDelete) {
            
            var sign = "+";
            
            if (isDelete) {
                $('#' + quarterID + '-added-units').css('color', '#bd362f');
                sign = "-";
            } else if (isWarning) {
                $('#' + quarterID + '-added-units').css('color', '#fc9c00');
            } else {
                $('#' + quarterID + '-added-units').css('color', '#54cc33');
            }         
            $('#' + quarterID + '-added-units').html(sign + units);        
            $('#' + quarterID + '-added-units').show();
        }
        
        function updateAddedUnitsWithCurrent(quarterID, units) {
            var sign = '+';
            if ($('#' + quarterID + '-added-units').html().indexOf('-') != -1) {
                sign = '-';
            }
            
            $('#' + quarterID + '-added-units').html(sign + units);        
            $('#' + quarterID + '-added-units').show();
        }
        
        var MAX_UNITS_PER_QUARTER = {{ max_units }};
        
        function checkIfOverUnits(termId) {
            if (plan.getTermById(termId).units > MAX_UNITS_PER_QUARTER) {
                return true;
            } 
            return false;
        }
        
        
        var WARNING_OFFERING_TIME_CONFLICT = 0;
        var WARNING_OFFERING_OVER_UNITS = 1;
        var WARNING_ALL_DOUBLE_COURSE = 0;
        
        
        function evalForWarningOffering(termID, courseName) {
            var warningArray = [];
            warningArray[WARNING_OFFERING_TIME_CONFLICT] = checkIfTimeConflict(termID, courseName);
            warningArray[WARNING_OFFERING_OVER_UNITS] = checkIfOverUnits(termID);
            return warningArray;
        }
        
        function evalForWarningAll(courseName) {
            var warningArray = [];            
            warningArray[WARNING_ALL_DOUBLE_COURSE] = checkIfDoubleCourse(courseName);
            return warningArray;
        }
        
        
        function checkIfDoubleCourse(courseName) {
            for (var i in years) {
                for (var j in termNames) {
                    if (plan.getTerm(j, i).containsCourse(courseName)) {
                        return termNames[j] + " " + years[i];
                    }
                }
            }
            return false;
        }
        
     
                
        function addCourse(classLinkItem) {
            
            // $(classLinkItem).popover('hide');
            
            if ($(classLinkItem).parent().hasClass('active')) {
                return;
            }
            
            $(classLinkItem).parent().addClass('active');
                        
            var courseName = $(classLinkItem).find('.shortName').html();
                          
            var courseObj = getJSONForCourse(courseName);
                                                            
            var offerings = jQuery.parseJSON(offeringsJSON[courseName]);
            
            $(classLinkItem).bind('mousedownoutside', function (event) {
                                                
                if ($(event.target).hasClass('confirm-add-class')) {
                    
                    var termId = $(event.target).closest('.quarter-div').attr('id');
                    confirmAddCourse(termId + makeCondensedName(courseName));
                    $(classLinkItem).parent().removeClass('active');
                    $(this).unbind('mousedownoutside');
                    linkErrorTitle = "";                       
                                        
                } else if ($(event.target).hasClass('icon-move') ||
                    $(event.target).hasClass('icon-trash') || 
                    $(event.target).prop('tagName') == "BODY" ||
                    $(event.target).prop('tagName') == "HTML" ||
                    ($(event.target).attr('id') != null && 
                        ($(event.target).attr('id').indexOf("-search-result") != -1) ||
                        ($(event.target).attr('id') == "course-search"))
                    ) {                        
                        cancelAddCourse(courseObj, offerings);
                        $(classLinkItem).parent().removeClass('active');
                        $(this).unbind('mousedownoutside');
                        $(classLinkItem).tooltip('hide');                     
                }
                                
            });
            
            var warningArrayAll = evalForWarningAll(courseName);
            
            var isWarningAll = false;
            for (var i in warningArrayAll) {
                if (warningArrayAll[i] != false) {
                    isWarningAll = true;
                    break;
                }
            }
            
                
            var addClassDisplayCount = 0;
            var containsCourseFlag = false;
                                                            
            for (var i in offerings) {
                                                                                                   
                var termId = termNames[parseInt(offerings[i].fields.term) - 1] + 
                    convertYearToLongForm(parseInt(offerings[i].fields.year));
                                        
                // quarter out of range of schedule
                if (plan.getTermById(termId) == undefined) {
                    continue;
                }
                
                // double adding class in 1 quarter
                if (plan.getTermById(termId).containsCourse(courseName)) {
                    containsCourseFlag = true;
                    continue;
                }
                
                addClassDisplayCount++;
                var addedCourse = new Course(courseName, offerings, offerings[i], 
                        courseObj.fields.min_units, courseObj.fields.max_units, courseObj, true, 
                        isWarningAll);
                plan.getTermById(termId).addCourse(addedCourse);
                                            
                // evaluate quarter in which you are going to place the class to validate                
                                                                                                    
                var warningArrayOffering = evalForWarningOffering(termId, courseName);
                 
                var isWarningOffering = false;
                for (var i in warningArrayOffering) {
                    if (warningArrayOffering[i] != false) {
                        isWarningOffering = true;
                        break;
                    }
                }
                
                var isWarning = isWarningAll;
                if (isWarningAll == false && isWarningOffering == true) {
                    isWarning = true;
                }
                                       
                updateAddedUnits(termId, courseObj.fields.max_units, isWarning, false);
                                                           
                makeAddedCourseHTML($('#' + termId + '-courses'), termId, courseObj.fields, isWarning);
                                
                createRolloversForAddedCourse(termId, courseObj.fields, isWarning, 
                    warningArrayAll, warningArrayOffering);
                        
            }
            
            if (addClassDisplayCount == 0) {
                var titleStr = (containsCourseFlag ? 'Class in schedule in all quarters offered.' :
                    'Class not offered in time at school.');
                $(classLinkItem).tooltip({'title': titleStr, 'trigger': 'manual'});
                $(classLinkItem).tooltip('show'); 
            }
            
            
           
        }
        
        
        function checkIfTimeConflict(termId, courseName) {
            
            var flag = null;
            var course = plan.getTermById(termId).getCourse(courseName);
            var courses = plan.getTermById(termId).courses;
            
            for (var i in courses) {
                
                // Can it be null?

                if (courses[i] == undefined || courses[i].name == courseName) {
                    // alert(courseName);
                    continue;
                }
                
                var events = courses[i].eventObjects;
                for (var j in events) {
                   
                    var startTime = events[j].start.getTime();
                    var endTime = events[j].end.getTime();
                   
                    for (var k in course.eventObjects) {
                        
                        var offeringST = course.eventObjects[k].start.getTime();
                        var offeringET = course.eventObjects[k].end.getTime();
                        
                        if ((offeringST >= startTime && offeringST < endTime) ||
                            (offeringET > startTime && offeringET <= endTime)) {
    
                            course.eventObjects[k].color = '#ffc40d';
                            // flag = couses[i].name;
                            flag = courses[i].name;
    
                        }
                        
                        
                    }
                   
                }
                
            }
            
            return (flag == null ? false : flag);
            
        }
        
                
        
        function cancelAddCourse(courseObj, offerings) {
           
            for (var i in offerings) {
             
                var termId = termNames[parseInt(offerings[i].fields.term) - 1] + 
                    convertYearToLongForm(parseInt(offerings[i].fields.year));
                    
                if (plan.getTermById(termId) == undefined) {
                    continue;
                }

                var course = plan.getTermById(termId).getCourse(courseObj.fields.identifier)
                    
                // Don't delete if course is already in the plan
                if (!course.isAdded) {
                        continue;
                }
                
                $('#' + termId + course.cName).remove();
                plan.getTermById(termId).removeAddedCourse(course.name);
                
                resetAddedUnits(termId);
                                                
            }
                        
        }
        
        
        function createSearchResults(courses) {
                        
            $('#search-results-nav').empty();
            
            if (courses.length == 0) {
                $('#requirements-toolbox-label').html('No results found.');
                return;
            }
            
            $('#requirements-toolbox-label').html('Search results (' + courses.length + '): ');
            
            for (var i in courses) {
                
                var courseShortName = courses[i].fields.identifier;
                var courseLongName = courses[i].fields.title;
                
                $('#search-results-nav').append('<li><a href="#" id="' + makeCondensedName(courseShortName)
                    + '-search-result" onclick="addCourse(this)"><span class="shortName">' + 
                    courseShortName  + '</span>: ' + courseLongName +  '</a></li>');
                    
                // $('#' + makeCondensedName(courseShortName) + '-search-result').popover({
                //     title: courseShortName,
                //     content: courseLongName,
                //     placement: 'left'
                // });
                
            }
            
        }
        
        
        function runSearch() {
            
            var searchValue = $('#course-search').attr('value');
            
            if (searchValue.length == 0) {
                $('#search-results-nav').empty();
                $('#requirements-toolbox-label').html('');
                return;
            }
            
            $.ajax({
				url: '/search/' + searchValue,
                success: function (data, textStatus, jqXHR) {
                    classesJSON = jQuery.parseJSON(data.classes);
                    offeringsJSON = data.offerings;
                    createSearchResults(classesJSON);
                }
            });
        }
        
    </script>    
    
    
</head>



<body style="margin-top: 35px;"> 
    
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
                <div class="container-fluid">
                
                <a href="#" class="brand"><font color="white">planit</font></a>

                                    
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            CS FYP1&nbsp;<b class="caret"></b>  
                        </a>
                        <ul class="dropdown-menu">

                            <li><a href="#">CS FYP1&nbsp;<i class="icon-ok"></i></a></li>
                            <li><a href="#">CS FYP2</a></li>
                            <li><a href="#">ME FYP1</a></li>
                            <li class="divider"></li>
                            <li><a href="#" onclick="openNewPlanModal()"><i class="icon-plus-sign"></i>&nbsp;Create New Four-Year Plan</a></li>
                        </ul>
                     </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user icon-white"></i>&nbsp;Jonathan Helman&nbsp;<b class="caret"></b>  
                        </a>
                        <ul class="dropdown-menu">
                        
                            <li><a href="#" onclick="openAccountSettingsModal()">Account Settings</a></li>

                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
         
                
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="new-plan-modal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h3>Create New Four-Year Plan</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="new-plan-form">
                
                 <fieldset>
                     <div class="control-group">
                         <label class="control-label" for="plan-name">Four-Year Plan Name</label>
                         <div class="controls">
                             <input type="text" id="plan-name"></input>
                             <p class="help-inline" id="plan-name-help-block" style="display: none;">Required</p>
                         </div>
                    </div>
                </fieldset>
                   
                   
                 <fieldset>
                     <div class="control-group">
                         <label class="control-label" for="major">Major</label>
                         <div class="controls">
                             <select id="major">
                                 <option value="">Choose a major</option>
                                 <option value="Computer Science">Computer Science</option>
                                 <option value="Electrical Engineering">Electrical Engineering</option>
                                 <option value="Physics">Physics</option>
                             </select>
                             <p class="help-inline" id="major-help-block" style="display: none;">Required</p>
                         </div>
                    </div>
                </fieldset>

            </form>
        </div>
        
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" onclick="createNewPlan()">Create Plan</button>
        </div>
        
    </div>   
    
    
    <div class="modal fade" id="account-settings-modal">
        <div class="modal-header">
           <button class="close" data-dismiss="modal">&times;</button>
           <h3>Account Settings: jhelman@stanford.edu</h3>
        </div>
        <div class="modal-body">
           <form class="form-horizontal" id="account-settings-form">

                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="account-settings-fullname">Full Name</label>
                        <div class="controls">
                            <input type="text" id="account-settings-fullname" placeholder="Jonathan Helman"></input>
                        </div>
                   </div>
               </fieldset>


                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="graduation-year">Graduation Year</label>
                        <div class="controls">
                            <select id="graduation-year">
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                            </select>
                        </div>
                   </div>
               </fieldset>

           </form>
       </div>

       <div class="modal-footer">
           <button class="btn" data-dismiss="modal">Cancel</button>
           <button class="btn btn-primary" onclick="saveAccountSettings()">Save Account Settings</button>
       </div>

    </div>   
    
    
    
    <div class="modal fade" id="schedule-modal">
        <div class="modal-header">
           <button class="close" data-dismiss="modal">&times;</button>
           <h3><span id="schedule-modal-title"></span></h3>
        </div>
        <div class="modal-body" id="schedule-modal-body">
            <div id="schedule-modal-calendar"></div>
            
        </div>

       <div class="modal-footer">
           <button class="btn" data-dismiss="modal">Close</button>
           
       </div>

    </div>
    
    
    
    <table><tr>
        
        <td>
    
	        <table>
                <tr>
                    <td>&nbsp;</td>
                    <td class="quarter-label"><center><h4>Autumn Quarter</h4></center></td>
                    <td class="quarter-label"><center><h4>Winter Quarter</h4></center></td>
                    <td class="quarter-label"><center><h4>Spring Quarter</h4></center></td>
                </tr>
		
		
        		{% for year in years %}
        		<!-- Row for quart7d15c7ee4c4f173af63368495069d52b033d6f84er boxes -->
        			<tr style="background-color: #{% cycle eeeeee,d9edf7 %}">
        				<td class="year-label"><center><h4>{{ year.name }}<br/>({{ year.year }})</h4></center></td>
			
			
        				{% for term in year.terms %}
        					<td>	

        				        <table>
        				            <tr>
        				                <td style="padding: 0px">
				                		    
        						            <div class="quarter-div" id="{{ term.condensedName }}" style="overflow: scroll;">
						    	                <div class="quarter-div-cover-drag" id="{{ term.condensedName }}-drag-cover"></div>
                    						    <div class="quarter-div cover"></div>

                        				        <div class="alert alert-error delete-alert">
                                            	    <a class="close" href="#" onclick="cancelDeleteCourse('{{ term.condensedName }}');">&times;</a>
                                            	    <h4 class="alert-heading"></h4>
                                            	    <span class="alert-body"></span>
                                            	    <span class="alert-delete-course-id" style="display: none; visibility; hidden;"></span>
                                            	    <span class="alert-delete-course-name" style="display: none; visibility; hidden;"></span>
                                            	    
                                            	    <br />
                                            	    <button class="btn btn-danger" onclick="confirmDeleteCourse('{{ term.condensedName }}');">Delete</button>
                                            	    <button class="btn" onclick="cancelDeleteCourse('{{ term.condensedName }}');">Cancel</button>
                                                </div>
						    	
						    	                <div id="{{ term.condensedName }}-courses">
                    							    {% for course in term.courses %}
                        				                <table id="{{ term.condensedName|add:course.condensedID }}" class="table table-bordered table-condensed course">
                        				                    <tr>
                        				                        <td class="courseName">{{ course.identifier }}</td>
                        				                        <td class="units"><div class="units-rollover">{{ course.max_units }}</div></td>
                        				                        <td class="info"><i class="icon-move"></i>&nbsp;
                        				                            <i class="icon-trash" onclick="removeCourse(this);"></i></td>
                        				                    </tr>
                        				                </table>
                        							{% endfor %}
                        						</div>
                    						</div>
						
        					            </td>
				    
                				        <td style="padding: 0px">
                				            <div class="quarter-info-div">
                				                <span class="quarter-info-span">
                				                    Units<br/>
                    				                <span id="{{ term.condensedName }}-units">{{ term.units }}</span><br/>
                    				                <span id="{{ term.condensedName }}-added-units" class="added-units">+0</span><br/>
                    				                <br/>
				            
                    				                <i class="icon-calendar" onclick="openCalendar('{{ term.condensedName }}', this);"></i>
                    				            </span>
                				            </div>
                				        </td>
        			                </tr>
        		                </table>
						
						
						
        					</td>
        				{% endfor %}
        				<td>&nbsp;</td>
        			</tr>
        		{% endfor %}
                    <!-- <tr style="height: 10px">
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                        <td>
                            <b>Major</b>: Computer Science &nbsp;&nbsp;&nbsp;&nbsp;<br/>
                            <b>Total Units</b>: <span id="total-units">{{ totalUnits }}</span>
                        </td>
                    </tr>     
                 -->
        		
        		
        	</table>
	
	
        </td>
        
        <td style="padding-left: 20px; vertical-align: top;">
            
            <table>
                <tr>
                    <td>
                        
                        <div id="requirements-toolbox">
                            
                            <div id="search-div">
                                <div id="course-search-form">
                                    <input type="text" id="course-search" onkeyup="runSearch();" placeholder="Search for classes" class="input-medium search-query"/>
                                    <!-- <button class="btn" onclick="runSearch()">Search</button> -->
                                </div>
                            </div>
                            
                            <b><span id="requirements-toolbox-label"></span></b>
                            
                            <br/>
                            
                            <ul id="search-results-nav" class="nav nav-pills nav-stacked">
       
                            </ul>
                            
                        </div>
  
                       
                    </td>
                </tr>
                <tr style="height: 30px"><td>&nbsp;</td></tr>
                <tr>
                    <td>
                        <b>Major</b>: Computer Science
                        <br/>
                        <b>Total Units</b>: <span id="total-units">{{ totalUnits }}</span>
                        <br/>
            
                    </td>
                </tr>
                
            </table>
                                
            
        </td>
        
        
    </tr></table>    

    
</body>


</html>
