<!DOCTYPE html>
<html>

<head>
    <title>PlanIt</title>
    
    
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.18.custom.min.js"></script>
    <!-- <script type="text/javascript" src="jquery-ui/development-bundle/ui/jquery.ui.droppable.js"></script> -->
    
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"/>
    
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/assets/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/assets/bootstrap-popover.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/assets/bootstrap-alert.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/assets/bootstrap-tab.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/assets/bootstrap-typeahead.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/assets/bootstrap-dropdown.js"></script>
        
    
    <script type="text/javascript">
            
        var FADING_ALERT_TIME = 2000;
        var fading_alert_timeout;
            
        function draw() {
            
			{% for year in years %}
			{% for term in year.terms %}
			{% for course in term.courses%}
			$('#{{ term.condensedName|add:course.condensedID }}').popover({'title': '{{ course.identifier }}', 'content': '{{ course.name }}', 'placement': 'right'});
			{% endfor %}
			{% endfor %}
			{% endfor %}
			

            // Static
            $('.icon-move').tooltip({'title': 'Move Course', 'placement': 'top'});
            $('.icon-trash').tooltip({'title': 'Delete Course', 'placement': 'top'});
            $('.icon-ok').tooltip({'title': 'Add Course', 'placement': 'top'});
            $('.icon-calendar').tooltip({'title': 'View Schedule', 'placement': 'right'});
            $('.icon-info-sign').tooltip({'title': 'Unit Count', 'placement': 'bottom'});
            
            
            $('.dropdown-toggle').dropdown();
            
        }
        
                
        $(document).ready(function () {
            
            draw();
            
            // $('a[data-toggle="tab"]').on('shown', function (e) {
            //     var target = String(e.target).substring(String(e.target).length - 1);
            //                     
            // });
            
            $('#class-search').typeahead({'items': 4,
                'source': ['CS106A', 'CS106B', 'CS107', 'CS108', 'CS109', 'Econ1A', 'Econ1B', 'Chem31A', 
                           'Chem31B', 'Physics41'],
                });
            
            
            
            $('#add-course-alert').hide();
            
            $('#remove-course-alert').hide();
            
            // Reference: http://blog.petersendidit.com/post/drag-table-row-to-a-div-with-jquery/
            $('.course').draggable({handle: '.icon-move', revert: 'invalid',
                                    
                helper: function (event) {
                    // var courseName = event.currentTarget.firstElementChild.firstElementChild.children[0].innerHTML;
                    //                     var numUnits = event.currentTarget.firstElementChild.firstElementChild.children[1].innerHTML;
                    //                     return $('<table class="table table-bordered" style="width: 400px;"><tr><td class="course">' + 
                    //                         courseName + '</td><td style="units">' + numUnits + 
                    //                         '</td><td class="info"><center><i class="icon-move"></i>&nbsp;&nbsp;<i class="icon-trash"></i></center></td></tr></table>').appendTo('body');
                
                    var copy = $(event.currentTarget).clone();
                    copy.find('.icon-trash').unbind('onclick');
                    return copy.appendTo('body');
                
                },
                     
            });
			
			
			// still hard-coding winter as only droppable for now
			$('#Winter2011-2012').droppable({
				accept: function (elem) {
					//concatenation of all courses across all terms
					{% for course in terms.0.courses|add:terms.1.courses|add:terms.2.courses %}
					
					// this would actually be replaced by more complicated logic
					// right now it's just letting you drag anything to winter except Econ 1A
					{% if course.identifier != "Econ 1A" %}
					if (elem.attr('id') == '{{ course.condensedID }}') return true;
					{% endif %}
					{% endfor %}
					return true;
				},
				
                drop: function (event, ui) {
                                        
                    ui.draggable.appendTo('#Winter2011-2012');
                    
                }
            });
			
			// example turning red
            $('#Spring2011-2012').droppable({
                
                over: function (event, ui) {
                    $(this).css('backgroundColor', 'red');
                },
                
                out: function (event, ui) {
                    $(this).css('backgroundColor', '#eeeeee');   
                },
                
                deactivate: function (event, ui) {
                    $(this).css('backgroundColor', '#eeeeee');   
                }
                
            }); 

            // $('#new-plan-modal').modal({'show': false});
            
            $('#new-plan-modal').modal({'show': false});
            $('#account-settings-modal').modal({'show': false});
            

        });
        
        
        
        // Functions to make the remove course message (need to actually remove!!)
        function removeCourse(courseID) {
            var courseElem = $('#' + courseID);
            var courseName = courseElem.find('.courseName').html();
            
            courseElem.find('.icon-trash').tooltip('hide');
            courseElem.popover('hide');
            
            var qDiv = courseElem.parent();
            var cover = qDiv.find('.cover');
            var alertBox = qDiv.find('.delete-alert');
            
            alertBox.find('.alert-heading').html('Delete ' + courseName + '?');
            alertBox.find('.alert-body').html('Are you sure you want to delete ' + courseName + '?');
            alertBox.find('.alert-delete-course-id').html(courseElem.attr('id'));
                        
            alertBox.css('left', qDiv.position().left);
            alertBox.css('top', qDiv.position().top + 15);
            cover.css('left', qDiv.position().left);
            cover.css('top', qDiv.position().top);
                        
            qDiv.find('.cover').fadeIn();
            alertBox.fadeIn();
        }
        
        
        function cancelDeleteCourse(quarterID) {
            var qDiv = $('#' + quarterID);
            
            qDiv.find('.delete-alert').hide();
            qDiv.find('.cover').hide();
        }
        
        function updateQuarterUnits(unitChange, quarterID) {
            
            $('#' + quarterID + '-units').html(parseInt($('#' + quarterID + '-units').html()) + unitChange);        
            
        }
        
        function updateTotalUnits(unitChange) {
            $('#total-units').html(parseInt($('#total-units').html()) + unitChange);
        }
        
        
        function confirmDeleteCourse(quarterID) {
            var qDiv = $('#' + quarterID);
            var courseElem = $('#' + qDiv.find('.alert-delete-course-id').html());
            var numUnits = courseElem.find('.units').html();
            
            courseElem.remove();
            
            updateQuarterUnits(parseInt("-" + numUnits), quarterID);
            updateTotalUnits(parseInt("-" + numUnits));
            
            cancelDeleteCourse(quarterID);
        }
        
        
        // Functions to add a course
        function addCourse(courseName, courseId) {
            $('#add-course-alert').alert();
            $('#add-course-alert-head').html('Added ' + courseName);
            $('#add-course-alert').fadeIn(function () {
                fading_alert_timeout = setTimeout("closeAddCourse()", FADING_ALERT_TIME);
            });
                        
            $('.icon-ok').tooltip('hide');
            
            $('#' + courseId).find('tr').removeClass('possible-course');
                        
            $($('#' + courseId).find('tr').children()[2]).html('<center><i class="icon-move"></i>&nbsp;&nbsp;<i class="icon-trash" onclick="removeCourse(\'Chem 31A\');"></i></center>');
        
            $('#' + courseId).draggable({handle: '.icon-move', revert: 'invalid',
                                    
                helper: function (event) {
                    // var courseName = event.currentTarget.firstElementChild.firstElementChild.children[0].innerHTML;
                    //                     var numUnits = event.currentTarget.firstElementChild.firstElementChild.children[1].innerHTML;
                    //                     return $('<table class="table table-bordered" style="width: 400px;"><tr><td class="course">' + 
                    //                         courseName + '</td><td style="units">' + numUnits + 
                    //                         '</td><td class="info"><center><i class="icon-move"></i>&nbsp;&nbsp;<i class="icon-trash"></i></center></td></tr></table>').appendTo('body');
                
                    var copy = $(event.currentTarget).clone();
                    copy.find('i').unbind('onclick');
                    return copy.appendTo('body');
                
                },
                     
            });
            
        
            draw();
        
        }
        
        function closeAddCourse() {
            clearTimeout(fading_alert_timeout);
            $('#add-course-alert').fadeOut();
        }
        
        
        var selectedReq = null;
        
        function clickedReq(req) {
            if (selectedReq != null) {
                selectedReq.css('background-color', '#ffffff');
            }
            selectedReq = $(req);
            
            loadSubrequirements(req.id);
            $(req).css('background-color', '#d9edf7');            
        }
        
        var dbSubreqs = ['DB-Humanities', 'DB-Math', 'DB-EngrAppSci', 'DB-NatSci', 'DB-SocSci'];
        var dbSubreqsNum = 5;
        var ecSubreqs = ['EC-Gender', 'EC-GlobalCom', 'EC-AmerCul', 'EC-EthicReas'];
        var ecSubreqsNum = 2;
        
        
        function makeSubreqsHTML(reqArray) {
            
            var html = ""; 
            for (var i in reqArray) {
                html += "<div class='requirement' id='" + reqArray[i] + "' onclick='clickedSubreq(this)'><p>" 
                + reqArray[i] + "</p></div>";
            }
            return html;
        }
        
        
        function generateSubreqsMessage(subreqs, subreqsCount) {
                        
            if (subreqs.length == subreqsCount)
                return "Select all of the following:";
            
            return "Select " + subreqsCount + " out of " + subreqs.length + " the following:";
            
        }
        
        function loadSubrequirements(reqID) {
                        
            var html;
            var subreqsMessage;
            if (reqID == 'db') {
                html = makeSubreqsHTML(dbSubreqs);
                subreqsMessage = generateSubreqsMessage(dbSubreqs, dbSubreqsNum);
            } else if (reqID == 'ec') {
                html = makeSubreqsHTML(ecSubreqs);
                subreqsMessage = generateSubreqsMessage(ecSubreqs, ecSubreqsNum);
            }
                    
            $('#subreqs').html(html);
            $('#subreqs-message').html(subreqsMessage); 
        }
        
        
        var selectedSubreq = null;
        
        function clickedSubreq(subreq) {
            var subreqName = $(subreq).find('p').html();
            
            // Fix this kludge!!!
            var pos = subreqName.indexOf('<i class="icon-ok"');
            if (pos != -1) {
                subreqName = subreqName.substring(0, pos);
            } 
            
            if (selectedSubreq != null) {
                selectedSubreq.css('background-color', '#ffffff');
            }
            selectedSubreq = $(subreq);
            
            loadClasses(subreq.id, subreqName);
            $(subreq).css('background-color', '#d9edf7');            
        }
        
        var dbhumClasses = ['Music 18A', 'Music 18B'];
        var dbmathClasses = ['Math 51', 'Math 52', 'Math 53'];
        var ecglobalcomClasses = ['Econ 114'];
        var ecamerculClasses = ['Music 18A'];
        
        
        function loadClasses(subreqID, subreqName) {
                        
            var html = ""; 
            var classesMessage = "";
            if (subreqID == 'DB-Humanities') {
                html = makeClassesHTML(dbhumClasses);
                classesMessage = generateClassesMessage(dbhumClasses, subreqName);
            } else if (subreqID == 'DB-Math') {
                html = makeClassesHTML(dbmathClasses);
                classesMessage = generateClassesMessage(dbmathClasses, subreqName);
            } else if (subreqID == 'EC-GlobalCom') {
                html = makeClassesHTML(ecglobalcomClasses);
                classesMessage = generateClassesMessage(ecglobalcomClasses, subreqName);
            } else if (subreqID == 'EC-AmerCul') {
                html = makeClassesHTML(ecamerculClasses);
                classesMessage = generateClassesMessage(ecamerculClasses, subreqName);
            }
                    
            $('#classes').html(html);
            $('#classes-message').html(classesMessage); 
        }
        
        function generateClassesMessage(classes, subreqName) {    
            return "Select from the " + classes.length + " classes satisfying the " + subreqName + " requirement:";
        }        
        
        function makeClassesHTML(classes) {
            
            var html = "";
            for (var i in classes) {
                html += "<div class='requirement' id='" + classes[i] + "' onclick='clickedClass(this)'><p>" 
                + classes[i] + "</p></div>";
    
            }
    
            return html;
        }
        
        function clickedClass(classObject) {
            
            // alert(classID.id);
            
            satisfyRequirements(classObject);
            
        }
        
        
        function satisfyRequirements(classObject) {
            
            $('#DB-Humanities').addClass('requirement-fulfilled');
            
            // $('#DB-Humanities').append('<i class="icon-ok"></i>');
            
            $('<i class="icon-ok" style="margin-left: 5px;"></i>').appendTo($('#DB-Humanities').find('p'));
            // $('\xA0').appendTo($('#DB-Humanities').find('p'));
            
            
        }
        
        
        
        function openNewPlanModal() {
            
            $('#new-plan-modal').modal('show');
            
        }
        
        
        function validateNewPlan() {
                        
            var planName = $('#plan-name').attr('value');
            var major = $('#major').attr('value');
            
            var flag = 0;
            
            if (planName.length == 0) {
                $('#plan-name').parent().parent().addClass('error');
                $('#plan-name-help-block').show();
                flag = 1;
            } else {
                $('#plan-name').parent().parent().removeClass('error');
                $('#plan-name-help-block').hide();
                
            }
             
             
            if (major.length == 0) {
                $('#major').parent().parent().addClass('error');
                $('#major-help-block').show();
                flag = 1;
            } else {
                $('#major').parent().parent().removeClass('error');
                $('#major-help-block').hide();
                
            }   
           
            return (flag == 0 ? true : false);
            
        }
        
        
        
        function createNewPlan() {
            
            if (validateNewPlan() == false) {
                return;
            }
            
            $('#new-plan-modal').modal('hide');
            
            var planName = $('#plan-name').attr('value');
            var major = $('#major').attr('value');
            
            
            $('#plan-name').attr('value', '');
            $('#major').attr('value', '');
        }
        
        
        
        function openAccountSettingsModal() {
            $('#account-settings-modal').modal('show');
        }
        
        function saveAccountSettings() {
            var fullname = $('#account-settings-fullname').attr('value');
            if (fullname.length == 0) {
                fullname = $('#account-settings-fullname').attr('placeholder');
            }

            $('#account-settings-modal').modal('hide');
        }
        
    
    </script>
    
    <style type="text/css">
    
        table.course {
            width: 200px;
            margin-top: 3px;
            margin-bottom: 3px;
            margin-left: auto;
            margin-right: auto;
        }
    
        td.courseName {
            width: 55%;
        }
        
        td.units {
            width: 17.5%;
        }
        
        td.info {
            width: 27.5%;
        }
        
        tr.possible-course {
            background-color: #FFF4B8;
        }
        
        .icon-trash, .icon-ok, .icon-calendar, .icon-info-sign {
            cursor: pointer;
        }
        
        .icon-move {
            cursor: move;
        }
    
        #remove-course-alert {
            margin-top: 20px;
            width: 200px;
        }
        
        #add-course-alert {
            margin-top: 10px;
            width: 230px;
        }
    
        .quarter-div {
            width: 220px;
            height: 130px;
            padding-top: 4px;
            -moz-border-top-left-radius: 10px;
            border-top-left-radius: 10px;
            -moz-border-bottom-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-left: 1px solid;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-right: 1px dashed;
        }
        
        .cover {
            background-color: black;
            position: absolute;
            display: none;
            opacity: 0.75;
            z-index: 10;
        }
        
        .quarter-info-div {
            -moz-border-top-right-radius: 10px;
            border-top-right-radius: 10px;
            -moz-border-bottom-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-right: 1px solid;
            border-top: 1px solid;
            border-bottom: 1px solid;
            height: 134px;
            width: 45px;
            margin: 0px;
            text-align: center;
        }
        
        
        .quarter-info-span {
            position: relative; 
            top: 30px; 
            font-weight: bold;
            margin-left: 6px;
        }
        
        #bottom-left-box {
            width: 420px;
            height: 240px;
            position: relative; 
            left: 100px; 
            top: -170px;
            border-top: 1px solid #DDDDDD;
            -moz-border-top-right-radius: 10px;
            border-top-right-radius: 10px;
            border-right: 1px solid #DDDDDD;
            -moz-border-bottom-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom: 1px solid #DDDDDD;
            -moz-border-bottom-left-radius: 10px;
            border-bottom-left-radius: 10px;
            -moz-border-top-left-radius: 10px;
            border-top-left-radius: 10px;

        }
        
        #bottom-left-helper-box-top {
            width: 10px;
            height: 38px;
            position: relative; 
            left: 99px; 
            top: 0px;
            border-left: 1px solid #DDDDDD;
           -moz-border-top-left-radius: 10px;
            border-top-left-radius: 10px;            
        }
        
        
        #bottom-left-helper-box-bottom {
            width: 10px;
            height: 90px;
            position: relative; 
            left: 99px; 
            top: -260px;
            border-left: 1px solid #DDDDDD;
           -moz-border-bottom-left-radius: 10px;
            border-bottom-left-radius: 10px;            
        }
        
        .tab-pane {
            margin: 10px;
        }
        
        
        .requirement {
            text-align: left;
            border-radius: 10px;
            -mox-border-radius: 10px;
            height: 30px;
            padding-right: 12px;
            padding-left: 12px;
            position: relative;
            display: table;
            margin-bottom: 10px;
            cursor: pointer;
        }
        
        
        .requirement p {
            display: table-cell;
            vertical-align: middle;
        }
        
        
        .requirement-fulfilled {
/*            background-color: #ffffff;
            color: #dddddd;*/
        }
        
        .results-box {
            margin: 10px;
            border-radius: 10px;
            -moz-border-radius: 10px;
            border: 1px solid #dddddd;
        }
        
        #requirements-results-box {
            position: relative;
            left: 200px;
            top: -10px;
            height: 240px;
            width: 200px;
        }
        
        .requirements {
            margin-left: 10px;
            margin-top: 10px;
        }
        
        #search-results-box {
            position: relative;
            left: 95px;
            top: -10px;
            height: 240px;
            width: 500px;
        }
        
        
        .interior-div {
            margin: 10px;
        }
        
        .year-label {
            vertical-align: middle;
            width: 150px;
        }
        
        .spacing-row {
            height: 0px;
            margin: 0px;
            padding: 0px;
        }  
        
        .delete-alert {
           width: 171px;
           align: center;
           display: none;
           z-index: 20;
           position: absolute;
        }
        

        
            
    </style>
    
    
    
</head>



<body style="margin-top: 35px;"> 
    
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
                <div class="container-fluid">
                
                <a href="#" class="brand"><font color="white">planit</font></a>

                                    
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            CS FYP1&nbsp;<b class="caret"></b>  
                        </a>
                        <ul class="dropdown-menu">

                            <li><a href="#">CS FYP1&nbsp;<i class="icon-ok"></i></a></li>
                            <li><a href="#">CS FYP2</a></li>
                            <li><a href="#">ME FYP1</a></li>
                            <li class="divider"></li>
                            <li><a href="#" onclick="openNewPlanModal()"><i class="icon-plus-sign"></i>&nbsp;Create New Four-Year Plan</a></li>
                        </ul>
                     </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user icon-white"></i>&nbsp;Jonathan Helman&nbsp;<b class="caret"></b>  
                        </a>
                        <ul class="dropdown-menu">
                        
                            <li><a href="#" onclick="openAccountSettingsModal()">Account Settings</a></li>

                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
         
                
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="new-plan-modal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h3>Create New Four-Year Plan</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="new-plan-form">
                
                 <fieldset>
                     <div class="control-group">
                         <label class="control-label" for="plan-name">Four-Year Plan Name</label>
                         <div class="controls">
                             <input type="text" id="plan-name"></input>
                             <p class="help-inline" id="plan-name-help-block" style="display: none;">Required</p>
                         </div>
                    </div>
                </fieldset>
                   
                   
                 <fieldset>
                     <div class="control-group">
                         <label class="control-label" for="major">Major</label>
                         <div class="controls">
                             <select id="major">
                                 <option value="">Choose a major</option>
                                 <option value="Computer Science">Computer Science</option>
                                 <option value="Electrical Engineering">Electrical Engineering</option>
                                 <option value="Physics">Physics</option>
                             </select>
                             <p class="help-inline" id="major-help-block" style="display: none;">Required</p>
                         </div>
                    </div>
                </fieldset>

            </form>
        </div>
        
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" onclick="createNewPlan()">Create Plan</button>
        </div>
        
    </div>   
    
    
    <div class="modal fade" id="account-settings-modal">
           <div class="modal-header">
               <button class="close" data-dismiss="modal">&times;</button>
               <h3>Account Settings: jhelman@stanford.edu</h3>
           </div>
           <div class="modal-body">
               <form class="form-horizontal" id="account-settings-form">

                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="account-settings-fullname">Full Name</label>
                            <div class="controls">
                                <input type="text" id="account-settings-fullname" placeholder="Jonathan Helman"></input>
                            </div>
                       </div>
                   </fieldset>


                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="graduation-year">Graduation Year</label>
                            <div class="controls">
                                <select id="graduation-year">
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                </select>
                            </div>
                       </div>
                   </fieldset>

               </form>
           </div>

           <div class="modal-footer">
               <button class="btn" data-dismiss="modal">Cancel</button>
               <button class="btn btn-primary" onclick="saveAccountSettings()">Save Account Settings</button>
           </div>

       </div>   
    
    
    
    
    
    
        
    <table><tr>
        
        <td>
    
	        <table>
                <tr>
                    <td>&nbsp;</td>
                    <td class="year-label"><center><h4>Autumn Quarter</h4></center></td>
                    <td class="year-label"><center><h4>Winter Quarter</h4></center></td>
                    <td class="year-label"><center><h4>Spring Quarter</h4></center></td>
                </tr>
		
		
        		{% for year in years %}
        		<!-- Row for quart7d15c7ee4c4f173af63368495069d52b033d6f84er boxes -->
        			<tr style="background-color: #{% cycle eeeeee,d9edf7 %}">
        				<td class="year-label"><center><h4>{{ year.name }}<br/>({{ year.year }})</h4></center></td>
			
			
        				{% for term in year.terms %}
        					<td>	
        			            <!-- <center><table><tr>
        			                <td><h4>{{ term.name }}</h4></td><td>&nbsp;</td>
        			                <td><i class="icon-info-sign"></i></td><td>&nbsp;</td>
        			                <td><i class="icon-calendar"></i></td>
        			            </tr></table></center> -->
				
				
        				        <table>
        				            <tr>
        				                <td style="padding: 0px">
				
        						            <div class="quarter-div" id="{{ term.condensedName }}" style="overflow: scroll;">
						    	
                    						    <div class="quarter-div cover"></div>

                        				        <div class="alert alert-error delete-alert">
                                            	    <a class="close" href="#" onclick="cancelDeleteCourse('{{ term.condensedName }}');">&times;</a>
                                            	    <h4 class="alert-heading"></h4>
                                            	    <span class="alert-body"></span>
                                            	    <span class="alert-delete-course-id" style="display: none; visibility; hidden;"></span>
                                            	    <br />
                                            	    <button class="btn btn-danger" onclick="confirmDeleteCourse('{{ term.condensedName }}');">Delete</button>
                                            	    <button class="btn" onclick="cancelDeleteCourse('{{ term.condensedName }}');">Cancel</button>
                                                </div>
						    	
                    							{% for course in term.courses %}
                    				                <table id="{{ term.condensedName|add:course.condensedID }}" class="table table-bordered table-condensed course">
                    				                    <tr>
                    				                        <td class="courseName">{{ course.identifier }}</td>
                    				                        <td class="units">{{ course.units }}</td>
                    				                        <td class="info"><center><i class="icon-move"></i>&nbsp;
                    				                            <i class="icon-trash" onclick="removeCourse('{{ term.condensedName|add:course.condensedID }}');"></i></center></td>
                    				                    </tr>
                    				                </table>
                    							{% endfor %}
                    						</div>
						
        					            </td>
				    
                				        <td style="padding: 0px">
                				            <div class="quarter-info-div">
                				                <span class="quarter-info-span">
                				                    Units<br/>
                    				                <span id="{{ term.condensedName }}-units">15</span><br/>
                    				                <br/>
				            
                    				                <i class="icon-calendar"></i>
                    				            </span>
                				            </div>
                				        </td>
        			                </tr>
        		                </table>
						
						
						
        					</td>
        				{% endfor %}
        				<td>&nbsp;</td>
        			</tr>
        		{% endfor %}
        	</table>
	
	
        </td>
        
        <td style="padding-left: 20px; vertical-align: top;">
            
            <br/><br/>
            <b>Major</b>: Computer Science
            <br/>
            <b>Total Units</b>: <span id="total-units">180</span>
            <br/>
            
            
        </td>
        
        
    </tr></table>
    
    <br />
    <br />
    <br />
    <br />
    
    <div class="row">
        <div class="span4">
            
            <div id="bottom-left-helper-box-top">
                &nbsp;
            </div>
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li><a href="#1" data-toggle="tab">Search&nbsp;&nbsp;</a></li>
                    <li><a href="#2" data-toggle="tab">Major&nbsp;&nbsp;<span class="badge badge-important">5</span></a></li>
                    <li class="active"><a href="#3" data-toggle="tab">GER&nbsp;&nbsp;<span class="badge badge-important">8</span></a></li>
                </ul>
                <div class="tab-content" id="bottom-left-box">
                    <div class="tab-pane interior-div" id="1" align="center">
                            <br/>
                            <form class="form-search">
                                <input type="text" id="class-search" class="input-long search-query" data-provide="typeahead" placeholder="Search for course"/>
                                <button class="btn">Search</button>
                            </form>
                    </div>
                    
                    <div class="tab-pane" id="2">
                            
                        <div class="pagination" align="center">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                             </ul>  
                        </div>
                        
                    </div>
                    <div class="tab-pane active" id="3">
                        
                        <!-- <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">DB-Humanities</a></li>
                            <li><a href="#">DB-Math</a></li>
                            
                        </ul> -->
                        
                        Requirement groups:
                        
                        <div class="requirements">
                            <div class="requirement" onclick="clickedReq(this);" id="db"><p>Disciplinary Breadth&nbsp;<span class="badge badge-important">6</span></p></div>
                            <div class="requirement" onclick="clickedReq(this);" id="ec"><p>Ethics and Culture&nbsp;<span class="badge badge-important">2</span><p></div>
                        </div>

                        <!-- <br /><br />
                                                <div class="pagination" align="center">
                                                    <ul>
                                                        <li><a href="#">Prev</a></li>
                                                        <li class="active"><a href="#">1</a></li>
                                                        <li><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#">4</a></li>
                                                        <li><a href="#">Next</a></li>
                                                     </ul>  
                                                </div>   -->
                    </div>
                </div>
            </div>
            <div id="bottom-left-helper-box-bottom">
                &nbsp;
            </div>
                        
            
        </div>
        
        <div class="span4">
            
            <div class="results-box" id="requirements-results-box">
                
                <div class="interior-div">
                    <p id="subreqs-message"></p>
                
                    <div class="requirements" id="subreqs">
                        <!-- <div class="requirement requirement-selected"><p>DB-Humanities</p></div>
                                              <div class="requirement"><p>DB-Math</p></div>
                                              <div class="requirement requirement-fulfilled"><p>DB-EngrAppSci&nbsp;<i class="icon-ok"></i></p></div> -->
                    </div>
                    
                </div>
                
            </div>
                        
            
        </div>
        
        <div class="span4">
            
            <div class="results-box" id="search-results-box">
                
                <div class="interior-div">
                    
                    <p id="classes-message"></p>
                    
                    <div class="classes-div" id="classes">
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
        
        
        
    </div>
    
</body>


</html>
