{% extends 'base.html' %}

<!DOCTYPE html>
    <title>PlanIt</title>
    
    
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.20.custom.min.js"></script>
    <!-- <script type="text/javascript" src="jquery-ui/development-bundle/ui/jquery.ui.droppable.js"></script> -->
    
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fullcalendar/fullcalendar/fullcalendar.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nanoscroller/nanoscroller.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css"/>
    
    
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}clickoutside/clickoutside.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}nanoscroller/jquery.nanoscroller.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}spin/spin.min.js"></script>
	

	{% block extra_head %}
	<script type="text/javascript">
		
		/* From Django website */
		jQuery(document).ajaxSend(function(event, xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    function sameOrigin(url) {
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }
		    function safeMethod(method) {
		        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		    }

		    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
		});


		$(document).ready(function () {
		   	console.log('hello');
		    $('.dropdown-toggle').dropdown();            
		    $('#new-plan-modal').modal({'show': false});
		    $('#account-settings-modal').modal({'show': false});
    
		});

		{% autoescape off %}
		var majorsJSON = jQuery.parseJSON({{ majors }});
		console.log(majorsJSON);
		{% endautoescape %}


		function closeNewPlanModal() {
        
		    $('#plan-name').attr('value', '');
		    $('#major').attr('value', '');
		    $('#track-select').closest('.control-group').hide();
        
		    $('#new-plan-modal').modal('hide');
		}
    
        
		function openNewPlanModal() {
    
		    tracksShown = false;
        
		    for (var i in majorsJSON) {
		        $('#major').append('<option value="' + majorsJSON[i].fields.name + '">' + 
		            majorsJSON[i].fields.name + '</option>');
		    }
    
		    var year = new Date().getFullYear();
		    for (var j = 0; j < 4; j++) {
		        $('#graduation-year').append('<option value="' + (year + j) + '">' + 
		            (year + j) + '</option>');
		    }
    
    
		    $('#new-plan-modal').modal('show');  
	
              
		}

		var tracksShown = false;

		function getTracksForMajor(elem) {
    
		    tracksShown = true;
    
		    var majorName = $(elem).attr('value');
    
		    if (majorName == "") {
		        $('#track-select').closest('.control-group').hide();
		        return;
		    }
    
		    var tracks;
		    for (var i in majorsJSON) {
		        if (majorsJSON[i].fields.name == majorName) {
		            tracks = majorsJSON[i].fields.tracks;
		            break;
		        }
		    }
    
    
		    $('#track-select').html('<option value="">Choose a track</option>');
		    for (var j in tracks) {
		        $('#track-select').append('<option value="' + tracks[j] + '">' + 
		            tracks[j] + '</option>');
		    }
		    $('#track-select').closest('.control-group').show();
		}




		function validateNewPlan() {
                
		    var planName = $('#plan-name').attr('value');
		    var major = $('#major').attr('value');
		    var track = $('#track-select').attr('value');
    
    
    
		    var flag = 0;
    
		    if (planName.length == 0) {
		        $('#plan-name').closest('.control-group').addClass('error');
		        $('#plan-name-help-block').show();
		        flag = 1;
		    } else {
		        $('#plan-name').closest('.control-group').removeClass('error');
		        $('#plan-name-help-block').hide();
        
		    }
    
		    if (major.length == 0) {
		        $('#major').closest('.control-group').addClass('error');
		        $('#major-help-block').show();
		        flag = 1;
		    } else {
		        $('#major').closest('.control-group').removeClass('error');
		        $('#major-help-block').hide();
        
		    }
     

		    if (tracksShown) {
        
		        if (track.length == 0) {
		            $('#track-select').closest('.control-group').addClass('error');
		            $('#track-help-block').show();
		            flag = 1;
		        } else {
		            $('#track-select').closest('.control-group').removeClass('error');
		            $('#track-help-block').hide();

		        }
        
		    }
   
		    return (flag == 0 ? true : false);
    
		}



		function createNewPlan() {
    
		    if (validateNewPlan() == false) {
		        return;
		    }
                  
			 $("#new-plan-form").submit();
	 
		}




		function openAccountSettingsModal() {
		    $('#account-settings-modal').modal('show');
		}

		function saveAccountSettings() {
		    var firstname = $('#account-settings-firstname').attr('value');
		    if (firstname.length == 0) {
		        firstname = $('#account-settings-firstname').attr('placeholder');
		    }
			
		    var lastname = $('#account-settings-lastname').attr('value');
		    if (lastname.length == 0) {
		        lastname = $('#account-settings-lastname').attr('placeholder');
		    }

		    $('#account-settings-modal').modal('hide');
            
			var data = new Object();
			data['first'] = firstname;
			data['last'] = lastname;
			$.ajax({
				type: 'POST',
				url: '/editSettings/',
				data: data,
				success: function(data, textStatus, jqXHR) {
		    
				    $('#navbar-fullname').html(firstname + " " + lastname);
		    
					ajaxMessage("Settings saved", SUCCESS);
				},
				
				error: function(jqXHR, textStatus, errorThrown) {
					ajaxMessage("An error occurred editing account settings" , ERROR);
				}
				
				
			});
            
		}


		</script>
		
		{% endblock %}
		
	</head>



					
        {% block navbar_content %}            
        <ul class="nav pull-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Select a Plan&nbsp;<b class="caret"></b>  
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="openNewPlanModal()"><i class="icon-plus-sign"></i>&nbsp;Create New Four-Year Plan</a></li>
                    <li class="divider"></li>
                    {% for p in allPlans %}
                    <li><a href="/plan/{{ p.name }}"> 
                    {{ p.name }}&nbsp;
                    {% if p.name == plan.name %}
                    <i class="icon-ok"></i>
                    {% endif %}
                    </a></li>
                    {% endfor %}
                </ul>
             </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-user icon-white"></i>&nbsp;<span id="navbar-fullname">{{ user.first_name }}&nbsp;{{ user.last_name }}</span>&nbsp;<b class="caret"></b>  
                </a>
                <ul class="dropdown-menu">
                    
                    <li><a href="#" onclick="openAccountSettingsModal()">Account Settings</a></li>

                    <li><a href="/accounts/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
		{% endblock %}
     
        {% block content %}    
		<div class="modal fade" id="new-plan-modal">
		    <div class="modal-header">
		        <button class="close" data-dismiss="modal">&times;</button>
		        <h3>Create New Four-Year Plan</h3>
		    </div>
		    <div class="modal-body">
		        <form class="form-horizontal" id="new-plan-form" action="/createPlan/" method="POST">
		             {% csrf_token %}
		             <fieldset>
		                 <div class="control-group">
		                     <label class="control-label" for="plan-name">Four-Year Plan Name</label>
		                     <div class="controls">
		                         <input type="text" id="plan-name" name="planName"></input>
		                         <p class="help-inline" id="plan-name-help-block" style="display: none;">Required</p>
		                     </div>
		                </div>
		            </fieldset>
            
		            <fieldset>
		                <div class="control-group">
		                    <label class="control-label" for="graduation-year">Graduation Year</label>
		                    <div class="controls">
		                        <select name="gradYear" id="graduation-year">
		                        </select>
		                    </div>
		               </div>
		           </fieldset>
               
               
		             <fieldset>
		                 <div class="control-group">
		                     <label class="control-label" for="major">Major</label>
		                     <div class="controls">
		                         <select id="major" onchange="getTracksForMajor(this);" name="major">
		                             <option value="">Choose a major</option>
		                         </select>
		                         <p class="help-inline" id="major-help-block" style="display: none;">Required</p>
		                     </div>
		                </div>
		            </fieldset>
            
            
		             <fieldset>
		                 <div class="control-group" style="display: none">
		                     <label class="control-label" for="track">Track</label>
		                     <div class="controls">
		                         <select id="track-select" name="track"></select>
		                         <p class="help-inline" id="track-help-block" style="display: none;">Required</p>
		                     </div>
		                </div>
		            </fieldset>
            

		        </form>
		    </div>
    
		    <div class="modal-footer">
		        <button class="btn" data-dismiss="modal">Cancel</button>
		        <button class="btn btn-primary" onclick="createNewPlan()">Create Plan</button>
		    </div>
    
		</div>   


		<div class="modal fade" id="account-settings-modal">
		    <div class="modal-header">
		       <button class="close" data-dismiss="modal">&times;</button>
		       <h3>Account Settings: jhelman@stanford.edu</h3>
		    </div>
		     <div class="modal-body">
		        <form class="form-horizontal" id="account-settings-form">

		             <fieldset>
		                 <div class="control-group">
		                     <label class="control-label" for="account-settings-firstname">First Name</label>
		                     <div class="controls">
		                         <input type="text" id="account-settings-firstname" placeholder="{{ user.first_name }}"></input>
		                     </div>
							<br />
		                     <label class="control-label" for="account-settings-lastname">Last Name</label>
		                     <div class="controls">
		                         <input type="text" id="account-settings-lastname" placeholder="{{ user.last_name }}"></input>
		                     </div>
						
		                </div>
		            </fieldset>
		        </form>
		    </div>
    

		   <div class="modal-footer">
		       <button class="btn" data-dismiss="modal">Cancel</button>
		       <button class="btn btn-primary" onclick="saveAccountSettings()">Save Account Settings</button>
		   </div>

		</div>
		
		
		{% endblock %}

	</body>
</html>