<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>PlanIt</title>
		
	    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.20.custom.min.js"></script>
	    <!-- <script type="text/javascript" src="jquery-ui/development-bundle/ui/jquery.ui.droppable.js"></script> -->
    
    
	    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"/>
	    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fullcalendar/fullcalendar/fullcalendar.css"/>
	    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nanoscroller/nanoscroller.css"/>
	    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css"/>
    
    
	    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}clickoutside/clickoutside.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}nanoscroller/jquery.nanoscroller.min.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}spin/spin.min.js"></script>
		
		
        {% block extra_head %}
        {% endblock %}
    </head>
    
	<body style="margin: 35px; background-image: url('{{ STATIC_URL }}backgrounds/pencil10.jpg');"> 
		<div class="navbar navbar-fixed-top">
		    <div class="navbar-inner">
		            <div class="container-fluid">
            
		            <a href="#" class="brand"><font color="white">planit</font></a>

                                
		            {% block navbar_content %}
					{% endblock %}
     
            
		        </div>
		    </div>
		</div>
		
		
		

        {% block content %}        
        {% endblock %}

    </body>
</html>

