.quarter-div {
    width: 220px;
    height: 130px;
    padding: 0px;
		margin: 0px;
		overflow: hidden;
}

.cover {
    background-color: black;
    position: absolute;
    display: none;
    opacity: 0.75;
		filter: alpha(opacity=75);
    z-index: 20;
}

.delete-alert {
   width: 170px;
   align: center;
   display: none;
   z-index: 20;
   position: absolute;
}

.quarter-div-hover {
	background-color: #d9edf7;
}

div.course {
    width: 190px;
    margin-top: 2px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 5px;
		padding-right: 5px;
		border: 1px solid #000000;
		border-radius: 5px;
		-moz-border-radius: 5px;
		cursor: pointer;
		text-align: center;
}

.info-over {
	position: relative;
	display: none;
}

.info {
		position: absolute;
		left: 175px;
		top: -20px;
		z-index: 20;
		height: 22px;
		width: 20px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		-moz-border-top-right-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		background-color: #f2dede;
}

.grab-over {
	position: relative;
	display: none;
}

.grab-line {
	position: absolute;
	height: 0px; 
	width: 20px; 
	z-index: 20;
	border-bottom-style: ridge; 
	border-color: #cccccc; 
	left: 0px;
}

.courses-div {
	height: 110px;
	overflow: scroll;
	border-bottom: 1px dashed;
}

.units-div {
	height: 20px;
	width: 220px;
	display: table;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.units-text-div {
	display: table-cell;
	vertical-align: middle;
}

.quarter-label {
    vertical-align: middle;
    width: 150px;
		border-left: 2px solid;
		border-right: 2px solid;
		border-bottom: 2px solid;
		text-align: center;
}

.quarter-td {
		border-left: 2px solid;
		border-right: 2px solid;
		border-bottom: 2px solid;
}

.year-label {
		vertical-align: middle;
		padding-left: 15px;
		padding-right: 15px;
		border-bottom: 2px solid;
		text-align: center;
}

div.possible-course {
		background-color: #54cc33;
}

div.possible-course-warning {
		background-color: #ffc40d;
}

.icon-trash, .icon-ok, .icon-calendar, .icon-info-sign {
    cursor: pointer;
}

.icon-move {
    cursor: move;
}

#remove-course-alert {
    margin-top: 20px;
    width: 200px;
}

#add-course-alert {
    margin-top: 10px;
    width: 230px;
}

.quarter-div-cover-drag {
		width: 142px;
		height: 52px;
		border: none;
		background-color: #ec2020;
		opacity: 0.95;
		filter: alpha(opacity=95);
		z-index: 20;
		margin: -1px;
		position: absolute;
		display: none;
		padding: 40px;
		text-align: center;
}

#search-spinner-over {
	position: relative;
}

#search-spinner {
	position: absolute;
	top: -15px;
	left: 265px;
}



.quarter-info-div {
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 134px;
    width: 45px;
    margin: 0px;
    text-align: center;
}


.quarter-info-span {
    position: relative; 
    top: 25px; 
    font-weight: bold;
    margin-left: 6px;
}


#requirements-box {
    width: 320px;
    height: 150px;
    position: relative; 
		
/*    left: 100px; 
    top: -170px;*/
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;

    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;

}

#bottom-left-helper-box-top {
    width: 10px;
    height: 38px;
    position: relative; 
    left: 99px; 
    top: 0px;
    border-left: 1px solid #DDDDDD;
   -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;            
}


#bottom-left-helper-box-bottom {
    width: 10px;
    height: 90px;
    position: relative; 
    left: 99px; 
    top: -260px;
    border-left: 1px solid #DDDDDD;
   -moz-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;            
}

.tab-pane {
    margin: 10px;
}


.requirement {
    text-align: left;
    border-radius: 10px;
    -mox-border-radius: 10px;
    height: 30px;
    padding-right: 12px;
    padding-left: 12px;
    position: relative;
    display: table;
    margin-bottom: 10px;
    cursor: pointer;
}


.requirement p {
    display: table-cell;
    vertical-align: middle;
}


.requirement-fulfilled {
/*            background-color: #ffffff;
    color: #dddddd;*/
}

.results-box {
    margin: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #dddddd;
}

#requirements-results-box {
    position: relative;
    left: 200px;
    top: -10px;
    height: 240px;
    width: 200px;
}

.requirements {
    margin-left: 10px;
    margin-top: 10px;
}

#search-results-box {
    position: relative;
    left: 95px;
    top: -10px;
    height: 240px;
    width: 500px;
}


.interior-div {
    margin: 10px;
}





.spacing-row {
    height: 0px;
    margin: 0px;
    padding: 0px;
}  




#schedule-modal {
    width: 900px;
    margin-left: -450px;
    margin-top: -300px;
}

#schedule-modal-calendar {
    width: 850px;
    margin-left: auto; 
    margin-right: auto;
}

#schedule-modal-body {
    max-height: 1000px;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
	background: #fff;
}


#requirements-toolbox {
	border-radius: 5px;
	-mox-border-radius: 5px;
	border: 1px solid #dddddd;
	width: 300px;
	height: 450px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	overflow: hidden;
}

#search-div {
	border-top-left-radius: 5px;
	-mox-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-mox-border-top-right-radius: 5px;
	background-color: #eeeeee;
	width: 320px;
	height: 40px;
	margin-left: -10px;
	display: table;
	text-align: center;
	margin-bottom: 10px;
}

#course-search-form {
	display: table-cell;
	vertical-align: middle;
	
}

.added-units {
	color: #54cc33;
	display: none;
}

.units-select {
	width: 40px;
	height: 20px;
	padding: 0px;
	margin: 0px;
}

#search-scroll-div {
	height: 400px;
}

#search-scroll-div .content {
}

.ajax-alert {
	z-index: 9999;
	position: absolute;
	top: 0px;
	padding-left: 5px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	font-weight: bold;
}


